<form [formGroup]="filterForm">
    <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">{{headerTitle || 'Title'}}</div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput [autocomplete]="'off'" [formControlName]="'search'" [placeholder]="'Search...'">
                <div *ngIf="isSearchedList" (click)="resetSearch($event)" class="h-full flex justify-center items-center cursor-pointer text-red-700">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </mat-form-field>


            <button class="ml-4 bg-primary-400 transition" mat-flat-button
                    style="color: white; border-radius: 6px;" (click)="handleSearch.emit(filterForm)">
                <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <span class="ml-2 mr-1">Search</span>
            </button>

            <button class="ml-4 bg-primary-400 transition" mat-flat-button
                    style="color: white; border-radius: 6px;" (click)="toggleFilterOptions()">
                <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                <!--                    <span class="ml-2 mr-1">Add Filters</span>-->
            </button>

            <!-- Add Doctors button -->
            <button class="ml-4 bg-primary hover:bg-primary-800 transition" mat-flat-button
                    style="color: white; border-radius: 6px;" [routerLink]="routerLinkForNewButton"
                    *ngIf="shouldRenderNewButton">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New</span>
            </button>
        </div>
    </div>


    <!--         For adding more filters -->
    <!--        <div class="flex justify-content-end pt-4 px-8 border-b flex-auto overflow-hidden">-->

    <!--                <mat-form-field class="ml-4 mb-0">-->
    <!--                    <span class="absolute -top-5 right-0 text-xs text-red-600 cursor-pointer">Clear</span>-->
    <!--                    <mat-label>State</mat-label>-->
    <!--                    <mat-select [formControlName]="'state'" placeholder="State">-->
    <!--                        <mat-option *ngFor="let val of _globalService._allStates" [value]="val.id">{{val.name}}</mat-option>-->
    <!--                    </mat-select>-->
    <!--                </mat-form-field>-->
    <div class="flex justify-content-end pt-3 px-8 border-b flex-auto overflow-hidden" @slideInAnimation *ngIf="showFilterOptions">
        <div class="ml-4 flex flex-col relative">
            <span @fadeAnimation *ngIf="filterForm.get('state').value" class="absolute top-1 right-0.5 text-xs text-red-600 cursor-pointer" (click)="clear($event, 'state')">Clear</span>
            <label class="sans font-thin text-black-50 ml-1 mb-0.5 ng-tns-c192-4" for="">State</label>
            <mat-form-field class="mb-0">
                <mat-select [formControlName]="'state'" placeholder="State">
                    <mat-option *ngFor="let val of _globalService._allStates" [value]="val.name">{{val.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="ml-4 flex flex-col relative">
            <span @fadeAnimation *ngIf="filterForm.get('city').value" class="absolute top-1 right-0.5 text-xs text-red-600 cursor-pointer" (click)="clear($event, 'city')">Clear</span>
            <label class="sans font-thin text-black-50 ml-1 mb-0.5 ng-tns-c192-4" for="">City</label>
            <mat-form-field class="mb-0">
                <mat-select [formControlName]="'city'" placeholder="City">
                    <mat-option *ngFor="let val of _globalService._allCities" [value]="val.city">{{val.city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--                <mat-form-field class="ml-4 mb-0">-->
        <!--                    <span class="absolute -top-5 right-0 text-xs text-red-600 cursor-pointer">Clear</span>-->
        <!--                    <mat-label>City</mat-label>-->
        <!--                    <mat-select [formControlName]="'city'" placeholder="City" multiple>-->
        <!--                        <mat-option *ngFor="let val of _globalService._allCities" [value]="val.id">{{val.city}}</mat-option>-->
        <!--                    </mat-select>-->
        <!--                </mat-form-field>-->
        <!--                <mat-form-field class="ml-4 mb-0">-->
        <!--                    <mat-label>Experience</mat-label>-->
        <!--                    <mat-select placeholder="Experience" multiple>-->
        <!--                        <mat-option [value]="'> 2'">{{'Nice'}}</mat-option>-->
        <!--                        <mat-option [value]="'Nice1'">{{'Nice1'}}</mat-option>-->
        <!--                        <mat-option [value]="'Nice2'">{{'Nice2'}}</mat-option>-->
        <!--                        <mat-option [value]="'Nice3'">{{'Nice3'}}</mat-option>-->
        <!--                    </mat-select>-->
        <!--                </mat-form-field>-->
        <div class="ml-4 flex flex-col relative" *ngIf="!noStatus">
            <span @fadeAnimation *ngIf="filterForm.get('is_active').value" class="absolute top-1 right-0.5 text-xs text-red-600 cursor-pointer" (click)="clear($event, 'is_active')">Clear</span>
            <label class="sans font-thin text-black-50 ml-1 mb-0.5 ng-tns-c192-4" for="">Status</label>
            <mat-form-field class="mb-0">
                <mat-select [formControlName]="'is_active'" placeholder="Status">
                    <mat-option [value]="'1'">{{'Active'}}</mat-option>
                    <mat-option [value]="'0'">{{'InActive'}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="ml-4 flex flex-col relative w-60" *ngIf="campFilter">
            <span @fadeAnimation *ngIf="filterForm.get('camp_id').value" class="absolute top-1 right-0.5 text-xs text-red-600 cursor-pointer" (click)="clear($event, 'camp_id')">Clear</span>
            <label class="sans font-thin text-black-50 ml-1 mb-0.5 ng-tns-c192-4" for="">Camp Name</label>
            <mat-form-field class="w-full">
<!--                <mat-label>Camp Name <span class="text-red-600">*</span></mat-label>-->
                <mat-select [formControlName]="'camp_id'"
                            placeholder="Select Camp" (closed)="selectSpecialitiesClosed()" (opened)="selectSpecialitiesOpened()">
                    <input #input class="py-2 px-4 text-base w-full" placeholder="Type here to search camps..." (keyup)="onKey($event)">
                    <ng-container *ngIf="camps.length > 0; else noCamps">
                        <mat-option *ngFor="let spe of camps" [value]="spe.camp_id">
                            {{spe.camp_name}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noCamps>
                        <p class="p-3 text-center text-base">No Camps</p>
                    </ng-template>

                </mat-select>
            </mat-form-field>
        </div>
        <div class="ml-4 flex flex-col relative w-60" *ngIf="enablePayment">
            <span @fadeAnimation *ngIf="filterForm.get('enable_payment').value" class="absolute top-1 right-0.5 text-xs text-red-600 cursor-pointer" (click)="clear($event, 'enable_payment')">Clear</span>
            <label class="sans font-thin text-black-50 ml-1 mb-0.5 ng-tns-c192-4" for="">Enable Payment</label>
            <mat-form-field class="mb-0">
                <mat-select [formControlName]="'enable_payment'" placeholder="Status">
                    <mat-option [value]="'yes'">{{'Yes'}}</mat-option>
                    <mat-option [value]="'no'">{{'No'}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
