<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Rating & Reviews</div>
        </div>

        <!-- Main -->
        <div class="flex flex-col flex-auto overflow-hidden">
            <!--            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 px-2 border-b">-->
            <!--                &lt;!&ndash; Task distribution &ndash;&gt;-->
            <!--                <div-->
            <!--                    class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">-->
            <!--                    <div class="flex flex-col sm:flex-row items-start justify-between">-->
            <!--                        <div class="text-2xl font-medium tracking-tight leading-6 truncate">Average Rating</div>-->
            <!--                    </div>-->

            <!--                    <div class="flex flex-col flex-auto mt-6">-->
            <!--                        <div class=" font-medium tracking-tight leading-6 truncate"><span-->
            <!--                            class="text-4xl font-semibold ">4.5/</span><span class="font-medium text-2xl">5</span></div>-->
            <!--                        <div class="flex flex-col flex-auto mt-3">-->

            <!--                            <bar-rating [(rate)]="rateLeft" [max]="5" [theme]="'stars'" [readOnly]=true></bar-rating>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                &lt;!&ndash; Schedule &ndash;&gt;-->
            <!--                <div-->
            <!--                    class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">-->
            <!--                    <div class="flex flex-col sm:flex-row items-start justify-between">-->
            <!--                        <div class="text-2xl  font-medium tracking-tight leading-6 truncate">Ratings by user</div>-->
            <!--                    </div>-->
            <!--                    <div>-->
            <!--                        <span class="flex flex-row mt-2" style="align-items: center; height: 25px">-->
            <!--                            <span class="font-large tracking-tight"-->
            <!--                                  style="font-size: 15px;margin-right: 5px;">5</span>-->
            <!--                           <span style="width: 10px">-->
            <!--                            <bar-rating-->
            <!--                                [(rate)]="rate" [max]="1"-->
            <!--                                [theme]="'stars'"-->
            <!--                                [readOnly]=true>-->
            <!--                            </bar-rating>-->
            <!--                            </span>-->
            <!--                            <mat-progress-bar mode="determinate" value="80"-->
            <!--                                              style="color: #115498; width: 100px;margin-left: 10px;"></mat-progress-bar>-->
            <!--                        </span>-->
            <!--                        <span class="flex flex-row" style="align-items: center; height: 25px">-->
            <!--                            <span class="font-large tracking-tight"-->
            <!--                                  style="font-size: 15px;margin-right: 5px;">4</span>-->
            <!--                            <span style="width: 10px">-->
            <!--                            <bar-rating-->
            <!--                                [(rate)]="rate" [max]="1"-->
            <!--                                [theme]="'stars'"-->
            <!--                                [readOnly]=true>-->
            <!--                            </bar-rating>-->
            <!--                            </span>-->
            <!--                            <mat-progress-bar mode="determinate" value="60"-->
            <!--                                              style="color: #115498; width: 100px;margin-left: 10px;"></mat-progress-bar>-->
            <!--                        </span>-->
            <!--                        <span class="flex flex-row" style="align-items: center; height: 25px">-->
            <!--                            <span class="font-large tracking-tight"-->
            <!--                                  style="font-size: 15px;margin-right: 5px;">3</span>-->
            <!--                            <span style="width: 10px">-->
            <!--                            <bar-rating-->
            <!--                                [(rate)]="rate" [max]="1"-->
            <!--                                [theme]="'stars'"-->
            <!--                                [readOnly]=true>-->
            <!--                            </bar-rating>-->
            <!--                            </span>-->
            <!--                            <mat-progress-bar mode="determinate" value="50"-->
            <!--                                              style="color: #115498; width: 100px;margin-left: 10px;"></mat-progress-bar>-->
            <!--                        </span>-->
            <!--                        <span class="flex flex-row" style="align-items: center; height: 25px">-->
            <!--                            <span class="font-large tracking-tight"-->
            <!--                                  style="font-size: 15px;margin-right: 5px;">2</span>-->
            <!--                            <span style="width: 10px">-->
            <!--                            <bar-rating-->
            <!--                                [(rate)]="rate" [max]="1"-->
            <!--                                [theme]="'stars'"-->
            <!--                                [readOnly]=true>-->
            <!--                            </bar-rating>-->
            <!--                            </span>-->
            <!--                            <mat-progress-bar mode="determinate" value="30"-->
            <!--                                              style="color: #115498; width: 100px;margin-left: 10px;"></mat-progress-bar>-->
            <!--                        </span>-->
            <!--                        <span class="flex flex-row" style="align-items: center; height: 25px">-->
            <!--                            <span class="font-large tracking-tight"-->
            <!--                                  style="font-size: 15px;margin-right: 5px;">1</span>-->
            <!--                           <span style="width: 10px">-->
            <!--                            <bar-rating-->
            <!--                                [(rate)]="rate" [max]="1"-->
            <!--                                [theme]="'stars'"-->
            <!--                                [readOnly]=true>-->
            <!--                            </bar-rating>-->
            <!--                            </span>-->
            <!--                            <mat-progress-bar mode="determinate" value="10"-->
            <!--                                              style="color: #115498; width: 100px;margin-left: 10px;"></mat-progress-bar>-->
            <!--                        </span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2 border-b">
                <!-- Task distribution -->
                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noReviews">
                    <div *ngFor="let reviewItem of currentItems; let i = index;"
                         class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 w-full min-w-0 p-5">
                        <div class="flex mx-auto w-full pl-12 justify-start items-center">
                            <div class="flex items-center rounded-full overflow-hidden justify-center">
                                <img class="w-22 h-22 object-cover"
                                     [src]="reviewItem.d_image || 'assets/images/default.jpg'" alt="">
                            </div>
                            <div class="text-1xl h-22 font-medium text-dark-800 dark:text-dark-900 mt-3 ml-3">
                                <!--                            <bar-rating [(rate)]="rateLeft" [max]="5"  [theme]="'stars'" [readOnly]="true"></bar-rating>-->
                                <p style="max-width: 150px" class="font-bold whitespace-normal">{{reviewItem.df_name + ' ' +
                                reviewItem.dm_name + ' ' + reviewItem.dl_name}}</p>
                                <p class="mt-0.5 text-gray-500 text-md">{{reviewItem.spec_name}}</p>

                            </div>
                        </div>
                        <div class="flex col-span-2 flex-col items-start w-full pr-3">
                            <div class="flex w-full items-center mt-3">
                                <img class="w-6 rounded-full h-6 object-cover"
                                     [src]="reviewItem.p_image || 'assets/images/default.jpg'" alt="">
                                <p class="ml-1.5">{{reviewItem.pf_name}} {{reviewItem.pm_name}} {{reviewItem.pl_name}}</p>
                            </div>
                            <div style="color: #676666">
                            <span>
                                <bar-rating [style]="{zoom: 0.7}" [(rate)]="reviewItem.rating" [max]="5"
                                            [theme]="'stars'" [readOnly]="true"></bar-rating>
                            </span>
                            </div>
                            <div class="font-medium text-gray-800">
                                {{reviewItem.review}}
                            </div>
                            <div>
                                <p class="mt-1 text-gray-500 text-md mt-1">Posted on: <span
                                        class="text-black font-bold number-font">{{reviewItem.created_at |
                                  date:'mediumDate'}}</span></p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #noReviews>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Reviews!
                    </div>
                </ng-template>
                <!--                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">-->
                <!--                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">-->
                <!--                        <img-->
                <!--                            class="w-full h-full object-cover"-->
                <!--                            [src]="'assets/images/logo/logo.png'" alt="">-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
                <!--                             style="position: absolute">-->
                <!--                            Ajeet Mishra <br>-->
                <!--                            22-06-2021-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="flex flex-col items-start w-full">-->
                <!--                        <div class="truncate" style="color: #676666">-->
                <!--                            <span><bar-rating [(rate)]="rateLeft" [max]="5" [theme]="'stars'"-->
                <!--                                              [readOnly]="true"></bar-rating></span>-->
                <!--                        </div>-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">-->
                <!--                            Lorem Ipsum is simply dummy-->
                <!--                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard-->
                <!--                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled-->
                <!--                            it to make a type specimen book. It has survived not only five centuries, but also the leap-->
                <!--                            into electronic-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">-->
                <!--                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">-->
                <!--                        <img-->
                <!--                            class="w-full h-full object-cover"-->
                <!--                            [src]="'assets/images/logo/logo.png'" alt="">-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
                <!--                             style="position: absolute">-->
                <!--                            Ajeet Mishra <br>-->
                <!--                            22-06-2021-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="flex flex-row items-start w-full">-->
                <!--                        <div class="truncate" style="color: #676666">-->
                <!--                            <span><bar-rating [(rate)]="rateLeft" [max]="5" [theme]="'stars'"-->
                <!--                                              [readOnly]="true"></bar-rating></span>-->
                <!--                        </div>-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">-->
                <!--                            Lorem Ipsum is simply dummy-->
                <!--                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard-->
                <!--                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled-->
                <!--                            it to make a type specimen book. It has survived not only five centuries, but also the leap-->
                <!--                            into electronic-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">-->
                <!--                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">-->
                <!--                        <img-->
                <!--                            class="w-full h-full object-cover"-->
                <!--                            [src]="'assets/images/logo/logo.png'" alt="">-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
                <!--                             style="position: absolute">-->
                <!--                            Ajeet Mishra <br>-->
                <!--                            22-06-2021-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="flex flex-row items-start w-full">-->
                <!--                        <div class="truncate" style="color: #676666">-->
                <!--                            <span><bar-rating [(rate)]="rateLeft" [max]="5" [theme]="'stars'"-->
                <!--                                              [readOnly]="true"></bar-rating></span>-->
                <!--                        </div>-->
                <!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">-->
                <!--                            Lorem Ipsum is simply dummy-->
                <!--                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard-->
                <!--                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled-->
                <!--                            it to make a type specimen book. It has survived not only five centuries, but also the leap-->
                <!--                            into electronic-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <mat-paginator [length]="totalItemsCount" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="onPageChange($event)" [pageIndex]="currentPage - 1" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
