<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
            class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
            style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">View Patient</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Back Doctor button -->
                <button
                        class="ml-4"
                        mat-flat-button
                        style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                        [routerLink]="'/patients'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden p-10">
            <div class="flex items-center mb-7">
                <div class="relative">
                    <div class="w-6 h-6 absolute right-4 border-white border-4 top-3/4 bg-green-400 my-0 mt-1 mx-3 rounded-full"></div>
                    <div class="w-44 h-44 overflow-hidden rounded-full mr-5">
                        <img class="min-w-full min-h-full" src="{{doctor?.image || 'assets/images/default.jpg'}}" alt="" />
                    </div>
                </div>
                <div>
                    <div class="flex items-center m-0">
                        <h5 class="text-2xl font-bold m-0">{{doctor?.first_name}} {{doctor?.middle_name}} {{doctor?.last_name}}</h5>
                        <ng-container *ngIf="doctor?.year_of_experience">
                            <div class="w-2 h-2 bg-gray-300 my-0 mt-1 mx-3 rounded-full"></div>
                            <span class="text-md font-semibold text-gray-400 mt-1" matTooltip="Years of experience">{{doctor?.year_of_experience}}y</span>
                        </ng-container>
                    </div>
                    <p *ngIf="doctor?.email; else NA" style="color: #1769E3" class="mb-4 -mt-1">{{doctor?.email}}</p>
                    <p class="text-gray-400 text-sm -mt-1">Created at: {{doctor?.created_at | date}}</p>
                </div>
            </div>
            <div class="text-gray-500 text-lg leading-5 mb-7">
                <p class="text-sm mb-1 text-gray-500">Bio</p>
                <p *ngIf="doctor?.bio; else NA">{{doctor?.bio}}</p>
            </div>
            <div class="mb-7">
                <div class="my-3 text-xl font-semibold text-gray-700">
                    <p>General Details</p>
                </div>
                <div class="grid grid-cols-7 gap-7 mb-4">
                    <div class="col-span-2">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Date of Birth</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.date_of_birth; else NA">{{doctor?.date_of_birth | date:'longDate'}}</p>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Phone</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.phone; else NA">+91 {{doctor?.phone}}</p>
                        </div>
                    </div>
                    <div class="col-span-3">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Address</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.address1; else NA">{{doctor?.address1}}</p>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-10 gap-7">
                    <div class="col-span-2">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Aadhaar Number</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.aadhaar_number; else NA">{{doctor?.aadhaar_number}}</p>
                        </div>
                    </div>
                    <div class="col-span-3">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">State</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.state; else NA">{{doctor?.state}}</p>
                        </div>
                    </div>
                    <div class="col-span-3">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">City</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.city; else NA">{{doctor?.city}}</p>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Zip Code</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="doctor?.zip_code; else NA">{{doctor?.zip_code}}</p>
                        </div>
                    </div>
                    <!--                        <div class="col-span-1">-->
                    <!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Country</p>-->
                    <!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
                    <!--                                <p>{{doctor?.country}}</p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                </div>
            </div>
            <ng-template #NA>
                <span class="text-gray-400 font-normal">N/A</span>
            </ng-template>
<!--            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2">-->
<!--                &lt;!&ndash; Task distribution &ndash;&gt;-->
<!--                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">-->
<!--                    <div class="w-16 h-16 rounded-full overflow-hidden items-start">-->
<!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
<!--                             style="position: absolute">-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-4"><b>Name: </b> &#160;&#160;{{doctor?.first_name}} {{doctor?.middle_name}} {{doctor?.last_name}}</span>-->
<!--                            <br>-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Email: </b>&#160;&#160;{{doctor?.email}}</span>-->
<!--                            <br>-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb2"><b>Phone No:</b> &#160;&#160;{{doctor?.phone}}</span>-->
<!--                            &lt;!&ndash;                            <br>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <span&ndash;&gt;-->
<!--                            &lt;!&ndash;                            class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb2"><b>Institution Name:</b>&#160;&#160; {{doctor?.institution_name}}</span>&ndash;&gt;-->
<!--                            <br>-->
<!--                            &lt;!&ndash; <div class="flex flex-row">-->
<!--                                <p class="mt-10 text-2xl text-dark-800 dark:text-dark-900">Image:</p><img-->
<!--                                style="height: 100px;width: 100px;margin-left: 15px;" class="mt-2"-->
<!--                                [src]="'assets/images/logo/logo.png'" alt="">-->
<!--                            </div> &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex flex-row items-start w-full">-->
<!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">-->
<!--                            <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
<!--                                 style="position: absolute">-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Created Date:</b> &#160;&#160;{{doctor?.created_at | date}}</span>-->
<!--                                <br>-->
<!--                                <span-->
<!--                                        class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Address:</b> &#160;&#160;{{doctor?.City || ''}} {{doctor?.state || ''}} {{doctor?.zip_code || ''}} {{doctor?.address1 || ''}}</span>-->
<!--                                <br>-->
<!--                                &lt;!&ndash;                                <span&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2"><b>Year of experience:</b>&#160;&#160; {{doctor?.year_of_experience || ''}}</span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <br>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <span&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2"><b>Degree:</b> &#160;&#160;{{doctor?.degree || ''}}</span>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Task distribution &ndash;&gt;-->
<!--                &lt;!&ndash;                <div class="w-full min-w-0 mt-5 px-7">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div class="text-2xl font-bold">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p>Education Details</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div *ngFor="let detail of doctor.education_details" class="border-solid border rounded grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 mt-2 p-3">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p><span class="font-bold">Institution Name: </span><span class="text-gray-500">{{detail.institution_name}}</span></p>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p><span class="font-bold">Degree: </span><span class="text-gray-500">{{detail.degree}}</span></p>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <p><span class="font-bold">Year of passing: </span><span class="text-gray-500">{{detail.year}}</span></p>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
        </div>
    </div>
</div>
