<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <!-- Header -->
        <app-admin-header
                [isLoading]="isLoading"
                [shouldRenderNewButton]="true"
                [noStatus]="true"
                [isSearchedList]="isSearchedList"
                (handleSearch)="handleSearchClick($event)"
                [enablePayment]="true"
                [routerLinkForNewButton]="['', ROUTER_ENUM.CLINIC, 'new']"
                headerTitle="All Camps"
        ></app-admin-header>
<!--        <div-->
<!--            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">-->
<!--            &lt;!&ndash; Loader &ndash;&gt;-->
<!--            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">-->
<!--                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
<!--            </div>-->
<!--            &lt;!&ndash; Title &ndash;&gt;-->
<!--            <div class="text-3xl font-semibold tracking-tight">All Camps</div>-->

<!--            &lt;!&ndash; Actions &ndash;&gt;-->
<!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                    <input matInput [autocomplete]="'off'" [placeholder]="'Search...'">-->
<!--                </mat-form-field>-->

<!--                &lt;!&ndash; Add Doctors button &ndash;&gt;-->
<!--                <button class="ml-4" mat-flat-button [ngStyle]="{background: theme.secondary}"-->
<!--                    style="color: white; border-radius: 6px;" [routerLink]="['', ROUTER_ENUM.CLINIC, 'new']">-->
<!--                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>-->
<!--                    <span class="ml-2 mr-1">Add New</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                        <!-- Table -->
                        <table class="w-full  table-fixed bg-transparent" [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table [multiTemplateDataRows]="true" [dataSource]="currentItems" [trackBy]="trackByFn">

                            <!-- Name -->
                            <ng-container matColumnDef="id">
                                <th class="text-center w-7 border-r font-bold text-1xl p-0 truncate" mat-header-cell *matHeaderCellDef>ID</th>
                                <td class="truncate border-r tracking-tight p-0" mat-cell *matCellDef="let doctor">
                                    {{doctor.camp_id || ''}}
                                </td>
                            </ng-container>

                            <!-- Name -->
                            <ng-container matColumnDef="namePhone">
                                <th class="text-center w-12 border-r font-bold p-0 text-1xl truncate" mat-header-cell *matHeaderCellDef>
                                    Name / Phone
                                </th>
                                <td class="p-0 truncate border-r tracking-tight capitalize" mat-cell *matCellDef="let doctor">
                                    {{doctor.camp_name || ''}}<br>
                                    (<span class="text-primary">{{doctor.tele_phone || ''}}</span>)
                                </td>
                            </ng-container>

                            <!-- Price -->
                            <!-- <ng-container matColumnDef="email">
                                <th
                                    class="w-12 border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Email
                                </th>
                                <td
                                    class="  truncate border-r"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.email || ''}}
                                </td>
                            </ng-container> -->

                            <!-- Stock -->
<!--                            <ng-container matColumnDef="phone">-->
<!--                                <th class="text-center w-10 border-r font-semibold text-1xl truncate" mat-header-cell-->
<!--                                    *matHeaderCellDef>-->
<!--                                    Phone-->
<!--                                </th>-->
<!--                                <td class="  truncate border-r" mat-cell *matCellDef="let doctor">-->
<!--                                    {{doctor.tele_phone || ''}}-->
<!--                                </td>-->
<!--                            </ng-container>-->

                            <!-- Active -->
<!--                            <ng-container matColumnDef="address">-->
<!--                                <th class="wtext-center -10 border-r font-semibold text-1xl truncate" mat-header-cell-->
<!--                                    *matHeaderCellDef>-->
<!--                                    Address-->
<!--                                </th>-->
<!--                                <td class=" border-r truncate firstLetterCapitalize" mat-cell *matCellDef="let doctor">-->
<!--                                    <span [matTooltip]="_globalService.toSentenceCase(doctor.address)">{{doctor.address || ''}}</span>-->
<!--                                </td>-->
<!--                            </ng-container>-->
                            <ng-container matColumnDef="city">
                                <th class="text-center w-10 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    City
                                </th>
                                <td class=" border-r truncate" mat-cell *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.city">{{doctor.city || ''}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th class="text-center w-8 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    State
                                </th>
                                <td class=" border-r px-2 whitespace-normal capitalize " mat-cell *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.state">{{doctor.state || ''}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="enable_payment">
                                <th class="text-center w-10 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Enable payment
                                </th>
                                <td class=" border-r capitalize truncate" mat-cell *matCellDef="let doctor">
                                    {{doctor.enable_payment}}
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th class="text-center w-10 border-r pr-0 font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td class=" pr-0 " mat-cell *matCellDef="let doctor; let i = dataIndex">
                                    <div class="flex flex-shrink-0 items-center justify-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                            mat-stroked-button matTooltip="Edit Camp" (click)="editClinic(doctor)">
                                            <mat-icon class="icon-size-5" [svgIcon]="'feather:edit'"></mat-icon>
                                        </button>
                                        <button
                                                matTooltip="Delete Camp"
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                style="border: none;"
                                                mat-stroked-button
                                                (click)="deleteClinic($event,doctor.id, i)">
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'delete_forever'"></mat-icon>
                                        </button>
                                        <!-- <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            matTooltip="Preview Doctor"
                                            (click)="previewClinic(doctor.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:eye'"></mat-icon>
                                        </button> -->
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td class="p-0 border-b-0" mat-cell *matCellDef="let doctor"
                                    [attr.colspan]="doctorsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr class="shadow" mat-header-row *matHeaderRowDef="doctorsTableColumns; sticky: true"></tr>
                            <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                *matRowDef="let doctor; columns: doctorsTableColumns;"></tr>
                            <tr class="h-0" mat-row *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Camps!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
