<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
            class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
            style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">View Call Log</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Back Doctor button -->
                <button
                        class="ml-4"
                        mat-flat-button
                        style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                        [routerLink]="'/call-logs'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden p-10">
            <div class="flex justify-between">
                <div>
                    <div class="text-xs mb-2 text-gray-400">
                        <p>Patient Details</p>
                    </div>
                    <div>
                        <div class="flex mb-7">
                            <div class="relative">
                                <div class="w-12 h-12 overflow-hidden rounded-full mr-2">
                                    <img class="min-w-full min-h-full" src="{{callLog?.p_image || 'assets/images/default.jpg'}}" alt="" />
                                </div>
                            </div>
                            <div class="text-left">
                                <h5 class="text-md font-bold m-0">{{callLog?.p_name}} {{callLog?.p_m_name}} {{callLog?.p_l_name}}</h5>
                                <p class="text-sm -mt-1" style="color: #1769E3">{{callLog?.p_email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-xs mb-2 text-gray-400">
                        <p>Doctor Details</p>
                    </div>
                    <div>
                        <div class="flex mb-7">
                            <div class="relative">
                                <div class="w-12 h-12 overflow-hidden rounded-full mr-2">
                                    <img class="min-w-full min-h-full" src="{{callLog?.d_image || 'assets/images/default.jpg'}}" alt="" />
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center m-0">
                                    <h5 class="text-md font-bold m-0">{{callLog?.d_name}} {{callLog?.d_m_name}} {{callLog?.d_l_name}}</h5>
                                    <ng-container *ngIf="callLog?.d_exp">
                                        <div class="w-1 h-1 bg-gray-300 my-0 mt-1 mx-3 rounded-full"></div>
                                        <span class="text-xs font-semibold text-gray-400 mt-1" matTooltip="Years of experience">{{callLog?.d_exp}} {{+callLog?.d_exp > 1 ? ' Yrs' : ' Yr' }}</span>
                                    </ng-container>
                                </div>
                                <p class="text-sm -mt-1" style="color: #1769E3">{{callLog?.d_email}}</p>
                                <span class="text-xs text-gray-400" matTooltip="Speciality">{{callLog?.spec_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-7">
                <div class="mb-3 flex justify-between items-center text-gray-700">
                    <p class="text-xl font-semibold">Call Log Details</p>
                    <div class="flex" style="color: #1769E3">
                        <a *ngIf="callLog?.p_doc_url" class="mr-5" [href]="_globalService._baseImageUrl + callLog?.p_doc_url" target="_blank">View Patient Documents</a>
                        <a *ngIf="callLog?.rx_url" [href]="_globalService._baseImageUrl + callLog?.rx_url" target="_blank">View Prescription</a>
                    </div>
                </div>
                <div>
                    <span class="text-gray-400">Duration: </span>
                    <span class="text-gray-800 font-medium">{{getDuration(callLog?.patient_connected_at, callLog?.patient_disconnected_at)}}</span>
                </div>
                <div>
                    <span class="text-gray-400">Created at: </span>
                    <span class="text-gray-800 font-medium">{{callLog?.created_at | date}}</span>
                </div>
                <div>
                    <span class="text-gray-400">Patient Connected at: </span>
                    <span class="text-gray-800 font-medium">{{callLog?.patient_connected_at | date: 'mediumDate'}} {{callLog?.patient_connected_at | date: 'shortTime'}}</span>
                </div>
                <div>
                    <span class="text-gray-400">Patient Disconnected at: </span>
                    <span class="text-gray-800 font-medium">{{callLog?.patient_disconnected_at | date: 'mediumDate'}} {{callLog?.patient_disconnected_at | date: 'shortTime'}}</span>
                </div>
            </div>
            <div class="mb-7">
                <div class="mb-3 text-xl font-semibold text-gray-700">
                    <p>Medical Details</p>
                </div>
                <div class="grid grid-cols-3 gap-7 mb-2">
                    <div class="flex flex-col">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Symptoms</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold flex-grow" style="min-width: 200px">
                            <p *ngIf="callLog?.symptoms?.length > 0; else NA">{{callLog.symptoms}}</p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Allergies</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold flex-grow">
                            <p *ngFor="let allergy of callLog.allergies">{{allergy.name}}</p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Medications</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold flex-grow">
                            <p *ngFor="let medication of callLog.medications">{{medication.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-7">
                <div class="mb-3 text-xl font-semibold text-gray-700">
                    <p>Vitals</p>
                </div>
                <div class="mb-2 grid gap-7 grid-cols-4">
                    <div>
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">SPO2</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="callLog?.spo2; else NA">{{callLog.spo2}}</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Pulse</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="callLog?.pulse; else NA">{{callLog.pulse}}</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Temperature</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="callLog?.temp; else NA">{{callLog.temp}}</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm mb-1 ml-0.5 text-gray-500">Steps Count</p>
                        <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                            <p *ngIf="callLog?.step_count; else NA">{{callLog.step_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #NA>
                <span class="text-gray-400 font-normal">N/A</span>
            </ng-template>
        </div>
    </div>
</div>
