<!-- Header -->
<div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    <!-- Loader -->
    <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="text-3xl font-semibold tracking-tight">Call Logs</div>

    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <!-- Search -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
            <mat-icon
                matPrefix
                [svgIcon]="'heroicons_outline:search'"></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="'Search...'">
        </mat-form-field>
    </div>
</div>

<!-- Main -->
<div class="flex flex-auto overflow-hidden">

    <!-- Products list -->
    <div class="flex flex-col flex-auto overflow-hidden">

        <ng-container *ngIf="callLogsCount > 0; else noCallLOgs">

            <!-- Table wrapper -->
            <div
                class="overflow-x-auto sm:overflow-y-auto"
                cdkScrollable>

                <!-- Table -->
                <table
                    class="w-full  table-fixed bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    mat-table
                    [multiTemplateDataRows]="true"
                    [dataSource]="callLogs">

                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th
                            class="w-12 pl-3 border-r font-bold text-1xl truncate"
                            mat-header-cell
                            *matHeaderCellDef>
                            Doctor Name
                        </th>
                        <td
                            class="pr-8 pl-3 truncate border-r tracking-tight"
                            mat-cell
                            *matCellDef="let drug">
                            {{drug.doctor.full_name}} 
                        </td>
                    </ng-container>

                    <!-- Price -->
                    <ng-container matColumnDef="callType">
                        <th
                            class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                            mat-header-cell
                            *matHeaderCellDef>
                            Call Type
                        </th>
                        <td
                            class="pr-4 pl-2 truncate border-r"
                            mat-cell
                            *matCellDef="let drug">
                            {{drug.call_type }}
                        </td>
                    </ng-container>

                    <!-- Stock -->
                    <ng-container matColumnDef="date">
                        <th
                            class="w-10 pl-2 border-r font-semibold text-1xl truncate"
                            mat-header-cell
                            *matHeaderCellDef
                        >
                            Date
                        </th>
                        <td
                            class="pr-4 pl-2 truncate border-r"
                            mat-cell
                            *matCellDef="let drug">
                            {{drug.createdAt | date}}
                        </td>
                    </ng-container>

                    <!-- Stock -->
                    <ng-container matColumnDef="time">
                        <th
                            class="w-10 pl-2 border-r font-semibold text-1xl truncate"
                            mat-header-cell
                            *matHeaderCellDef
                        >
                            Time
                        </th>
                        <td
                            class="pr-4 pl-2 truncate border-r"
                            mat-cell
                            *matCellDef="let drug">
                            {{drug.checked_in}}
                        </td>
                    </ng-container>

                    <!-- Details -->
                    <ng-container matColumnDef="action">
                        <th
                            class="w-10 pl-2 border-r font-semibold text-1xl truncate"
                            mat-header-cell
                            *matHeaderCellDef>
                            Action
                        </th>
                        <td
                            class="pr-8 pl-2 "
                            mat-cell
                            *matCellDef="let drug">
                            <div class="flex flex-shrink-0 items-center">
                                <button
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                    style="border: none;"
                                    mat-stroked-button
                                    matTooltip="View Call Logs"
                                    (click)="previewDetails(drug.id)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'feather:eye'"></mat-icon>
                                </button>
                            </div>

                            <div class="flex-row">

                            </div>
                        </td>
                    </ng-container>

                    <!-- Product details row -->
                    <ng-container matColumnDef="doctorDetails">
                        <td
                            class="p-0 border-b-0"
                            mat-cell
                            *matCellDef="let drug"
                            [attr.colspan]="callLogsTableColumns.length">
                            <!--<ng-container *ngIf="selectedProduct?.id === drug.id">
                                <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: drug}"></ng-container>
                            </ng-container>-->
                        </td>

                    </ng-container>

                    <tr
                        class="shadow"
                        mat-header-row
                        *matHeaderRowDef="callLogsTableColumns; sticky: true"></tr>
                    <tr
                        class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                        mat-row
                        *matRowDef="let drug; columns: callLogsTableColumns;"></tr>
                    <tr
                        class="h-0"
                        mat-row
                        *matRowDef="let row; columns: ['doctorDetails']"></tr>

                </table>

                <mat-paginator
                    class=" "
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="10"
                    [pageIndex]="1"
                    [pageSize]="20"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>

            </div>


        </ng-container>

        <ng-template #noCallLOgs>
            <div
                class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                There are no
                callLogs!
            </div>
        </ng-template>

    </div>

</div>
