<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                Medical condition</div>

        </div>

        <!-- Main -->
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <form class="flex flex-col w-full" [formGroup]="medicalInfoForm">

                    <div class="flex px-8 pt-8">
                        <div class="flex flex-auto">
                            <div class="flex flex-col w-1/4 pl-8">

                                <mat-form-field class="w-full">
                                    <mat-label>Spo2(Oxygen Blood Saturation)</mat-label>
                                    <input matInput [formControlName]="'oxygen_blood_saturation'">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-1/4 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Pulse Rate (Heart Rate)</mat-label>
                                    <input matInput [formControlName]="'heart_rate'">
                                </mat-form-field>

                            </div>

                            <div class="flex flex-col w-1/4 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Temperature</mat-label>
                                    <input matInput [formControlName]="'heart_rate_variation'">
                                </mat-form-field>

                            </div>
                            <div class="flex flex-col w-1/4 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Activity/Steps</mat-label>
                                    <input matInput [formControlName]="'accelerometer'">
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div class="flex px-8">
                        <div class="flex flex-auto">
                            <!-- <div class="flex flex-col w-1/6 pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Pin</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'zip_code'">
                                        </mat-form-field>
        
                                    </div> -->
                            <div class="flex flex-col w-1/2 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Symptoms</mat-label>
                                    <textarea matInput placeholder="Write your Symptoms here"
                                        [formControlName]="'symptoms'"></textarea>
                                </mat-form-field>

                            </div>

                            <!-- <div class="flex flex-col w-1/2 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Bio</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'bio'">
                                    </mat-form-field>
    
                                </div> -->

                        </div>
                    </div>

                    <div class="flex px-8">
                        <div class="flex flex-auto">
                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Allergies</mat-label>
                                    <input matInput [formControlName]="'allergies'">
                                </mat-form-field>
                                <!-- <mat-form-field class="w-full">
                                        <mat-label>Allergies </mat-label>
                                        <mat-select [formControlName]="'allergies'"
                                                    placeholder="Select Allergies">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of allergies" [value]="spe.name">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field> -->
                                <ng-container>
                                    <mat-option *ngFor="let spe of allergies">
                                        {{spe.name}}
                                    </mat-option>
                                </ng-container>
                            </div>
                            <div class="flex flex-col w-1/11 pl-2 pr-12">
                                <button class="ml-4 mt-6" mat-button (click)="addAllergies($event)"
                                    [ngStyle]="{ background: theme.primary }" style="border-radius: 3px; color: white">
                                    <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2 mr-1">add</span>
                                </button>

                            </div>
                            <div class="flex flex-col w-1/3 pl-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Medications</mat-label>
                                    <input matInput [formControlName]="'medications'">
                                </mat-form-field>
                                <!-- <mat-form-field class="w-full">
                                        <mat-label>Allergies </mat-label>
                                        <mat-select [formControlName]="'allergies'"
                                                    placeholder="Select Allergies">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of Allergies" [value]="spe.name">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field> -->
                                <ng-container>
                                    <mat-option *ngFor="let spe of medications">
                                        {{spe.name}}
                                    </mat-option>
                                </ng-container>
                            </div>
                            <div class="flex flex-col w-1/11 pl-2">
                                <button class="ml-4 mt-6" mat-button (click)="addMedication($event)"
                                    [ngStyle]="{ background: theme.primary }" style="border-radius: 3px; color: white">
                                    <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2 mr-1">add</span>
                                </button>

                            </div>

                        </div>
                    </div>
                    <div class="flex items-center justify-between w-full px-8 py-4">
                        <button [disabled]="medicalInfoForm.invalid" (click)="makecall($event)" class="ml-8" mat-button
                            [ngStyle]="{ background: theme.primary }" style="border-radius: 3px; color: white">
                            <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2 mr-1">call to doctor</span>
                        </button>

                        <!-- <button
                            class="ml-8"
                            mat-button
                            [disabled]="personalInfoForm.invalid"
                            *ngIf="pageType ==='edit'" (click)="next()"
                            [ngStyle]="{ background: theme.primary }"
                            style="border-radius: 3px; color: white">
                            <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2 mr-1">update</span>
                        </button> -->
                    </div>

                </form>


            </div>
        </div>

    </div>
</div>