<!--<link rel="stylesheet" href="../../../../styles/styles.scss">-->
<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full  overflow-hidden">
            <!-- <div
                class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden"
                style="background-image: url('../../../../assets/images/mask-group.png');background-color: #0f545a;">
                <div class="z-10 relative w-full max-w-2xl" style="margin: 160px 0 190px 0;">
                    <div class="w-full vertical-align">
                        <img style="width:150px" src="assets/images/logo/logo.png" alt="">
                    </div>
                    <div class="mt-6  tracking-tight leading-6 text-white" style="font-size:19px">
                        <p style="text-align:center;">Simplifies prescription and </p>
                        <p style="text-align:center;">appointments, helping you to manage</p>
                        <p style="text-align:center;"> patients & chambers in a smart way.</p>
                        <p style="text-align:center;"> Create your first prescription in less than</p>
                        <p style="text-align:center;">60 seconds.</p>
                    </div>
                </div>
            </div> -->
            <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
                <div class="w-full max-w-100 sm:w-100 mx-auto sm:mx-0">
                    <!-- Logo -->
                    <!-- <div class="w-full vertical-align">
                        <img style="width:150px" src="assets/images/logo/logo.png" alt="">
                    </div> -->

                    <!-- Title -->
                    <div class="mt-8 text-3xl font-semibold tracking-tight leading-tight vertical-align">Change password
                    </div>


                    <!-- Alert -->
                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                        [type]="alert.type" [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>

                    <!-- Sign in form -->
                    <form class="mt-8" [formGroup]="resetPasswordForm">

                        <mat-form-field class="w-full">
                            <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">Old
                                Password
                            </mat-label>
                            <input id="oldPassword" matInput type="password" [formControlName]="'oldPassword'"
                                #passwordField1>
                            <button mat-icon-button type="button"
                                    tabindex="-1"
                                (click)="passwordField1.type === 'password' ? passwordField1.type = 'text' : passwordField1.type = 'password'"
                                matSuffix>
                                <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                            </button>
                            <mat-error>
                                Old password is required
                            </mat-error>
                        </mat-form-field>

                        <!-- Email field -->
                        <mat-form-field class="w-full">
                            <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">New
                                Password
                            </mat-label>
                            <input id="newPassword" matInput type="password" [formControlName]="'newPassword'"
                                #passwordField2>
                            <button mat-icon-button type="button"
                                    tabindex="-1"
                                (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                                matSuffix>
                                <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                            </button>
                            <mat-error>
                                New password is required
                            </mat-error>
                        </mat-form-field>

                        <!-- Password field -->
                        <mat-form-field class="w-full">
                            <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">Confirm
                                Password
                            </mat-label>
                            <input id="confirmPassword" matInput type="password" [formControlName]="'confirmPassword'"
                                #passwordField3>
                            <button mat-icon-button type="button"
                                    tabindex="-1"
                                (click)="passwordField3.type === 'password' ? passwordField3.type = 'text' : passwordField3.type = 'password'"
                                matSuffix>
                                <mat-icon class="icon-size-5" *ngIf="passwordField3.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon class="icon-size-5" *ngIf="passwordField3.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                            </button>
                            <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                                Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordForm.get('confirmPassword').hasError('notMatch')">
                                Password doesn't match
                            </mat-error>
                        </mat-form-field>


                        <!-- Submit button -->
                        <button [ngStyle]="{ background: theme.secondary }" style="color: white; border-radius: 3px"
                            class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                            [disabled]="resetPasswordForm.disabled" (click)="resetPassword()">
                            <span *ngIf="!resetPasswordForm.disabled">
                                Change Password
                            </span>
                            <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>

                        <!-- <div class="flex items-baseline mt-6 font-medium vertical-align">
                            <div>Don't have an account?</div>
                            <a class="ml-1 text-primary-500 hover:underline">Register
                            </a>
                        </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
