<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                {{pageType && pageType === 'edit' ? 'Update Camp' : 'Create Camp'}}</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- All Doctors button -->
                <button class="ml-4" mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                    [routerLink]="['', ROUTER_ENUM.CLINIC]">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    <span class="ml-2 mr-1">All Camps</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctor Form -->
            <div class="flex flex-col flex-auto overflow-hidden">
                <div class="flex border-b">
                    <!-- Selected product form -->
                    <form class="flex flex-col w-full" [formGroup]="clinicForm">

                        <div class="flex px-8 pt-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/2 pl-8">
                                    <!-- First Name -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Camp Name <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'camp_name'">
                                        <app-input-info [show]="form.getCond('camp_name')" [message]="form.getMsg('camp_name').message"></app-input-info>
                                    </mat-form-field>
                                </div>

                                <div class="flex relative flex-col w-1/2 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Telephone <span class="text-red-600">*</span></mat-label>
                                        <input type="tel" matInput [formControlName]="'tele_phone'">
                                        <app-input-info [show]="form.getCond('tele_phone')" [message]="form.getMsg('tele_phone').ifPattern('Must only contain digits')"></app-input-info>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/2 pl-8">
                                    <!-- Phone -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Address <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'address'">
                                        <app-input-info [show]="form.getCond('address')" [message]="form.getMsg('address').message"></app-input-info>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/2 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Pin code <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'zip_code'">
                                        <app-input-info [show]="form.getCond('zip_code')" [message]="form.getMsg('zip_code').message"></app-input-info>
                                    </mat-form-field>

                                </div>


                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Select State <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'state'" placeholder="Select State">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of state" [value]="spe.name">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('state')" [message]="form.getMsg('state').message"></app-input-info>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Select City <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'city'" placeholder="Select City">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of city" [value]="spe.city">
                                                    {{spe.city}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('city')" [message]="form.getMsg('city').message"></app-input-info>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Payment Options <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'enable_payment'"
                                            placeholder="Select Payment Option">
                                            <ng-container>
                                                <mat-option [value]="'yes'">
                                                    {{'Yes'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'no'">
                                                    {{'No'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('enable_payment')" [message]="form.getMsg('enable_payment').message"></app-input-info>
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>

                        <div class="flex items-center justify-between w-full px-8 py-4">
                            <button [disabled]="clinicForm.invalid" *ngIf="pageType ==='new'"
                                (click)="addClinic($event)" class="ml-8" mat-button
                                [ngStyle]="{ background: theme.primary }" style="border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Save</span>
                            </button>

                            <button class="ml-8" mat-button [disabled]="clinicForm.invalid" *ngIf="pageType ==='edit'"
                                (click)="saveClinic($event)" [ngStyle]="{ background: theme.primary }"
                                style="border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Update</span>
                            </button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
