/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~animate.css/animate.min.css';
@import '../assets/styles/splash-screen.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
// @import '/assert/fonts/Alata-Regular.ttf';
@font-face {
    font-family: "Alata";
    src: local("Alata"), url(../assets/fonts/Alata-Regular.ttf) format("truetype");
}

.vertical-align {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}
router-outlet {

    + * {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
    }
}

body {
    margin: 0;
    font-family: 'Alata',sans-serif !important;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.6;
}
// /////////////////////////////////@at-root
// .py-8 {
//     padding-top: 1rem !important;
//     padding-bottom: 1rem !important;
// }
// .mt-16 {
//     margin-top: 1rem !important;
// }
// .m-10 {
//     margin: 0.5rem !important;
// }

.local  div {
    z-index: 1 !important;
  }

.firstLetterCapitalize {
    &:first-letter {
        text-transform: capitalize;
    }
}

.number-font {
    font-family: 'Poppins', 'sans-serif';
}

th,
td {
    text-align: center;
    padding: 0 10px;
}

.green-snackbar {
  background: #009944 !important;
  color: #fff !important;
}
.red-snackbar {
  background: #cf000f !important;
  color: #fff !important;
}

::-webkit-scrollbar {
  width:  5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
