<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <app-admin-header
                [isLoading]="isLoading"
                [shouldRenderNewButton]="true"
                [isSearchedList]="isSearchedList"
                (handleSearch)="handleSearchClick($event)"
                [routerLinkForNewButton]="'/agent/new'"
                [noStatus]="true"
                [campFilter]="true"
                headerTitle="All Representatives"
        ></app-admin-header>
<!--        <div-->
<!--            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">-->
<!--            &lt;!&ndash; Loader &ndash;&gt;-->
<!--            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">-->
<!--                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
<!--            </div>-->
<!--            &lt;!&ndash; Title &ndash;&gt;-->
<!--            <div class="text-3xl font-semibold tracking-tight">All Representative</div>-->

<!--            &lt;!&ndash; Actions &ndash;&gt;-->
<!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                    <input matInput [autocomplete]="'off'" [placeholder]="'Search...'">-->
<!--                </mat-form-field>-->

<!--                &lt;!&ndash; Add Doctors button &ndash;&gt;-->
<!--                <button class="ml-4" mat-flat-button [ngStyle]="{ background: theme.secondary }"-->
<!--                    style="color: white; border-radius: 6px;" [routerLink]="'/agent/new'">-->
<!--                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>-->
<!--                    <span class="ml-2 mr-1">Add New </span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                        <!-- Table -->
                        <table class="w-full  table-fixed bg-transparent" [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table [multiTemplateDataRows]="true" [dataSource]="currentItems" [trackBy]="trackByFn">

                            <!-- Name -->
                            <ng-container matColumnDef="name">
                                <th class="pl-0 text-center w-12 border-r font-bold text-1xl truncate" mat-header-cell *matHeaderCellDef>
                                    Name
                                </th>
                                <td class="pl-0 capitalize truncate border-r tracking-tight" mat-cell *matCellDef="let doctor">
                                    {{doctor.first_name || ''}} {{doctor.last_name || ''}}
                                </td>
                            </ng-container>

                            <!-- Price -->
<!--                            <ng-container matColumnDef="last_name">-->
<!--                                <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell-->
<!--                                    *matHeaderCellDef>-->
<!--                                    Last Name-->
<!--                                </th>-->
<!--                                <td class="  capitalize truncate border-r" mat-cell *matCellDef="let doctor">-->
<!--                                    {{doctor.last_name || ''}}-->
<!--                                </td>-->
<!--                            </ng-container>-->

                            <!-- Stock -->
                            <ng-container matColumnDef="emailPhone">
                                <th class="text-center w-15  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Email / Phone
                                </th>
                                <td class="  truncate border-r" mat-cell *matCellDef="let doctor">
                                    {{doctor.email || ''}} <br>
                                    (<span class="text-primary">{{doctor.phone || ''}}</span>)
                                </td>
                            </ng-container>

                            <!-- Active -->
<!--                            <ng-container matColumnDef="email">-->
<!--                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell-->
<!--                                    *matHeaderCellDef>-->
<!--                                    Email-->
<!--                                </th>-->
<!--                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">-->
<!--                                    <span [matTooltip]="doctor.email">{{doctor.email || ''}}</span>-->
<!--                                </td>-->
<!--                            </ng-container>-->
                            <ng-container matColumnDef="aadhaar_number">
                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Aadhaar Number
                                </th>
                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.aadhaar_number">{{doctor.aadhaar_number || ''}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="city">
                                <th class="text-center w-8  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    City
                                </th>
                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.city + ', ' + _globalService.toSentenceCase(doctor.state)">{{doctor.city || ''}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="camp_name">
                                <th class="text-center w-8  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Camp Name
                                </th>
                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">
                                    <span>{{doctor.camp_name || 'N/A'}}</span>
                                </td>
                            </ng-container>
<!--                            <ng-container matColumnDef="address">-->
<!--                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell-->
<!--                                    *matHeaderCellDef>-->
<!--                                    Address-->
<!--                                </th>-->
<!--                                <td class=" firstLetterCapitalize  border-r truncate" mat-cell *matCellDef="let doctor">-->
<!--                                    <span [matTooltip]="_globalService.toSentenceCase(doctor.address1)">{{doctor.address1 || ''}}</span>-->
<!--                                </td>-->
<!--                            </ng-container>-->

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th class="pr-0 text-center w-10 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td class="pr-0" mat-cell *matCellDef="let doctor; let i = dataIndex">
                                    <div class="flex flex-shrink-0 justify-center items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                            mat-stroked-button matTooltip="Edit Representative"
                                            (click)="editDoctor(doctor)">
                                            <mat-icon class="icon-size-5" [svgIcon]="'feather:edit'"></mat-icon>
                                        </button>
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                            mat-stroked-button matTooltip="Preview Representative"
                                            (click)="previewDoctor(doctor)">
                                            <mat-icon class="icon-size-5" [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
                                        <button
                                                matTooltip="Delete Representative"
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                style="border: none;"
                                                mat-stroked-button
                                                (click)="deleteDoctor($event,doctor.users_id, i)">
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'delete_forever'"></mat-icon>
                                        </button>
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td class="p-0 border-b-0" mat-cell *matCellDef="let doctor"
                                    [attr.colspan]="doctorsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr class="shadow" mat-header-row *matHeaderRowDef="doctorsTableColumns; sticky: true"></tr>
                            <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                *matRowDef="let doctor; columns: doctorsTableColumns;"></tr>
                            <tr class="h-0" mat-row *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Representative!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
