<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
  <div cdkScrollable
       class="sm:col-span-3 lg:col-span-4 mx-10 mt-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
       style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-3  px-6 md:px-8 ">
      <div class="text-3xl font-semibold tracking-tight">Set Availability</div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4">
      </div>
    </div>
    <div class="flex px-8 pt-8 mb-6">
      <div class="flex flex-auto">
        <div class="col-md-12 col-sm-12" style="padding-left:5px;padding-right: 5px;">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <mat-form-field class="relative" style="width: 100%;" (click)="hideToolTip()">
                <mat-select placeholder="Duration" name="durationq" [(ngModel)]="duration"
                            (selectionChange)="durationchange()">
                  <mat-option *ngFor="let slot of durations" [value]="slot.key">
                    {{(slot.value)}}
                  </mat-option>
                  <!-- <mat-option [value]="1">
                    {{(1)}}
                  </mat-option>
                  <mat-option [value]="2">
                    {{(2)}}
                  </mat-option>
                  <mat-option [value]="3">
                    {{(3)}}
                  </mat-option> -->
                </mat-select>
                <div *ngIf="showToolTip"
                     class="absolute left-5 w-auto shadow-lg rounded py-1 bg-primary-700 px-2 text-xs text-white"
                     style="top: 110%; background-color: #202020">
                  <div class="absolute w-1 h-1 bg-primary-700" style="top: -2px; transform: rotate(45deg)"></div>
                  <p>Please select duration first</p>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2" *ngFor="let day of workingHours; let i=index">
            <div class="col-md-4 col-sm-12 customWeekDays">
              <div class="row">
                <div class="col-md-6 col-sm-12" style="color: #000;margin-top: 10px;">
                  <input type="hidden" name="dayname" />
                  {{day.dayname}}
                </div>
                <div class="col-md-6 col-sm-12">
                  <p style="margin-top: 10px;">
                    <mat-slide-toggle class="tp-margin" [checked]="checked" (change)="onToggleDay($event, i)"
                                      name="daystatus" [(ngModel)]="day.daystatus" style="float: right;">
                    </mat-slide-toggle>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="row" *ngFor="let sess of day.session; let y=index">
                <div class="col-md-4 col-sm-12" *ngIf="day.daystatus == true">
                  <mat-form-field>
                    <mat-select placeholder="From" [(ngModel)]="sess.fromTime"
                                (selectionChange)="onFromTimeChange($event, i, y)" name="fromTime">
                      <mat-option [value]="">
                        Select From Time
                      </mat-option>
                      <mat-option *ngFor="let slot of timeslot" [value]="slot">
                        {{tConvert(slot)}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12" *ngIf="day.daystatus == true">
                  <mat-form-field>
                    <mat-select placeholder="To" [(ngModel)]="sess.toTime"
                                (selectionChange)="onToTimeChange($event, i, y)" name="toTime">
                      <mat-option [value]="">
                        Select To Time
                      </mat-option>
                      <mat-option *ngFor="let slot of timeslot1" [value]="slot">
                        {{tConvert(slot)}}
                      </mat-option>
                      <!-- <mat-option  (onSelectionChange)="onToTimeChange($event, i, y)"
                                      [value] = "null" >
                                     123
                                  </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-sm-12" *ngIf="day.daystatus == true ">
                  <span style="color:red" (click)="removeAddress(i,y)" *ngIf="day.session.length > 1"><i
                          class="fa fa-times" aria-hidden="true"></i></span> &nbsp;&nbsp;&nbsp;
                  <span style="color:#4a8f35" (click)="addMore(i)" *ngIf="day.session.length < 3"><i class="fa fa-plus"
                                                                                                     aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="row" *ngIf="day.daystatus == false" style="color:#000;margin-top:10px;">
                &nbsp;&nbsp;Day off
              </div>
            </div>
          </div>
          <div class="flex flex-col w-1 pl-8" style="align-items: center;justify-content: center;margin-top: 20px;">
            <button class="bg-primary" mat-button (click)="setAvailability()" [ngStyle]="{background: theme.secondary}"
                    style="border-radius: 3px; color: white">
              <span class="ml-2 mr-1">Update</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
