<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
  <div
      class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
      style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
      <!-- Header -->
      <div
          class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
          <!-- Loader -->
          <div
              class="absolute inset-x-0 bottom-0"
              *ngIf="isLoading">
              <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
          </div>
          <!-- Title -->
          <div class="text-3xl font-semibold tracking-tight">Call Queue</div>

          <!-- Actions -->
          <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
              <!-- Search -->
              <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                  <mat-icon
                      matPrefix
                      [svgIcon]="'heroicons_outline:search'"></mat-icon>
                  <input
                      matInput
                      [autocomplete]="'off'"
                      [placeholder]="'Search...'">
              </mat-form-field>
          </div>
      </div>

      <!-- Main -->
      <div class="flex flex-auto overflow-hidden">

          <!-- Products list -->
          <div class="flex flex-col flex-auto overflow-hidden">

              <ng-container *ngIf="callLogsCount > 0; else noCallLOgs">

                  <!-- Table wrapper -->
                  <!-- {{callLogs.length}} -->
                  <div
                      class="overflow-x-auto sm:overflow-y-auto"
                      cdkScrollable>

                      <!-- Table -->
                      <table
                          class="w-full table-fixed bg-transparent"
                          [ngClass]="{'pointer-events-none': isLoading}"
                          mat-table
                          [multiTemplateDataRows]="true"
                          [dataSource]="callLogs"
                          [trackBy]="trackByFn"
                         >

                          <!-- Name -->
                          <ng-container matColumnDef="name">
                              <th
                                  class="text-center w-12 pl-0 border-r font-bold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef>
                                  Name
                              </th>
                              <td
                                  class="pl-0 truncate border-r tracking-tight capitalize"
                                  mat-cell
                                  *matCellDef="let drug">
                                  {{drug.first_name}} {{drug.last_name}}
                              </td>
                          </ng-container>

                          <!-- Price -->
                          <ng-container matColumnDef="phone">
                              <th
                                  class="text-center w-12  border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef>
                                  Phone
                              </th>
                              <td
                                  class="  truncate border-r"
                                  mat-cell
                                  *matCellDef="let drug">
                                  {{drug.phone}}
                              </td>
                          </ng-container>

                          <!-- Stock -->
<!--                          <ng-container matColumnDef="callType">-->
<!--                              <th-->
<!--                                  class="text-center w-10  border-r font-semibold text-1xl truncate"-->
<!--                                  mat-header-cell-->
<!--                                  *matHeaderCellDef>-->
<!--                                  Call Type-->
<!--                              </th>-->
<!--                              <td-->
<!--                                  class="  truncate border-r"-->
<!--                                  mat-cell-->
<!--                                  *matCellDef="let drug">-->
<!--                                  instatnt Call-->
<!--                              </td>-->
<!--                          </ng-container>-->

                          <ng-container matColumnDef="date">
                              <th
                                  class="text-center w-10  border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef
                              >
                                  Date
                              </th>
                              <td
                                  class="  truncate border-r"
                                  mat-cell
                                  *matCellDef="let drug">
                                  {{drug.created_at | date}}
                              </td>
                          </ng-container>

                          <!-- Stock -->
                          <ng-container matColumnDef="checkIn">
                              <th
                                  class="text-center w-10  border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef
                              >
                                  Check In
                              </th>
                              <td
                                  class="  truncate border-r"
                                  mat-cell
                                  *matCellDef="let drug">
                                  {{drug.checked_in | date}}
                              </td>
                          </ng-container>

                          <!-- Stock -->
<!--                          <ng-container matColumnDef="join">-->
<!--                              <th-->
<!--                                  class="text-center w-10  border-r font-semibold text-1xl truncate"-->
<!--                                  mat-header-cell-->
<!--                                  *matHeaderCellDef-->
<!--                              >-->
<!--                                  Join-->
<!--                              </th>-->
<!--                              <td-->
<!--                                  class="  truncate border-r"-->
<!--                                  mat-cell-->
<!--                                  *matCellDef="let drug">-->
<!--                                  <div class="flex flex-shrink-0 items-center">-->
<!--                                      <button-->
<!--                                          class="min-w-10 min-h-7 h-7 px-2 leading-6 "-->
<!--                                          style="border: none;"-->
<!--                                          mat-stroked-button-->
<!--                                          matTooltip="Join Call"-->
<!--                                          (click)="joincall(drug)">-->
<!--                                          <mat-icon color="warn" svgIcon="feather:video"></mat-icon>-->
<!--                                      </button>-->
<!--                                  </div>-->
<!--                              </td>-->
<!--                          </ng-container>-->


                          <!-- Details -->
                          <ng-container matColumnDef="action">
                              <th
                                  class="text-center pr-0 w-10 border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef>
                                  Actions
                              </th>
                              <td
                                  class="pr-0  "
                                  mat-cell
                                  *matCellDef="let drug">
                                  <div class="flex flex-shrink-0 justify-center items-center">
                                      <button
                                          class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                          style="border: none;"
                                          mat-stroked-button
                                          matTooltip="View Call Logs">
                                          <mat-icon
                                              class="icon-size-5"
                                              [svgIcon]="'feather:eye'"></mat-icon>
                                      </button>
                                  </div>

                                  <!-- <div class="flex-row">

                                  </div> -->
                              </td>
                          </ng-container>


                          <tr
                              class="shadow"
                              mat-header-row
                              *matHeaderRowDef="callLogsTableColumns; sticky: true"></tr>
                          <tr
                              class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                              mat-row
                              *matRowDef="let drug; columns: callLogsTableColumns;"></tr>
                          <!-- <tr
                              class="h-0"
                              mat-row
                              *matRowDef="let row; columns: ['doctorDetails']"></tr> -->

                      </table>

<!--                      <mat-paginator-->
<!--                          class=" "-->
<!--                          [ngClass]="{'pointer-events-none': isLoading}"-->
<!--                          [length]="10"-->
<!--                          [pageIndex]="1"-->
<!--                          [pageSize]="20"-->
<!--                          [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                          [showFirstLastButtons]="true"></mat-paginator>-->

                  </div>


              </ng-container>

              <ng-template #noCallLOgs>
                  <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                      callLogs!
                  </div>
              </ng-template>

          </div>

      </div>
  </div>
</div>
