<!--Loader-->

<div class="page-layout blank">

    <div id="loader">
        <div class="loader" *ngIf="isLoading">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
            <div class="six"></div>
        </div>
    </div>

</div>


<!--/Loader-->

<!--Admin Dashboard Start-->

<div class="flex flex-col flex-auto min-w-0"
    *ngIf="((role && role === 'admin') || (role && role === 'representative')) && !isLoading">
    <div class="flex-auto p-6 sm:p-10 bg-white">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 27.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Patients</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount.patient}}</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 34.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Doctors</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount.doctor}}</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Appointments</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount.tot_appointment}}</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0 mt-10">
            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 39.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium" style="color: #676666">Upcoming Appointments</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount.up_appointment}}</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 55.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium" style="color: #676666">Cancelled Appointments</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount.c_appointment}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 mt-12">
            <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Patients</div>
                </div>
                <div class="flex flex-col flex-auto mt-6">
                    <canvas baseChart [datasets]="graphConfig.datasets" [labels]="graphConfig.labels"
                        [colors]="graphConfig.colors" [options]="graphConfig.options"
                        [chartType]="graphConfig.chartType"></canvas>
                </div>
            </div>
            <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Visits</div>
                </div>
                <div class="flex flex-col flex-auto mt-6">
                    <canvas baseChart [datasets]="graphConfig.datasets" [labels]="graphConfig.labels"
                        [colors]="graphConfig.colors" [options]="graphConfig.options" [chartType]="'line'"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Admin Dashboard End-->

<!--Doctor Dashboard Start-->

<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white" *ngIf="role && role === 'doctor' && !isLoading">

    <div cdkScrollable
        class="sm:col-span-3 lg:col-span-4 mx-10 mt-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden bg-dark"
        style="box-shadow: 0px 0px 8px 2px rgb(245 233 245); height: 160px; background-color: #115498 !important;">
        <div class="grid grid-cols-1 sm:grid-cols-8 gap-6 w-full min-w-0"
            style="background-image: url('assets/images/Group\ 627.png'); background-color: #115498 !important;">
            <div
                class="sm:col-span-2 md:col-span-1 lg:col-span-1 flex flex-col flex-auto p-6 rounded-2xl overflow-hidden">

            </div>
            <div
                class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto py-6 rounded-2xl overflow-hidden">

                <span style="color: white">{{todayDate | date: 'fullDate'}}</span>
                <br>
                <span class="text-lg font-medium tracking-tight leading-6 truncate "><span
                        class="text-3xl font-semibold" style="color: white">Good Morning,</span> <span
                        class="text-3xl ml-1 font-semibold capitalize" style="color: #FCA603">Dr. {{userInfo &&
                        userInfo.first_name ? userInfo.first_name : ''}}</span>
                </span>
                <br>
                <span style="color: white" class="text-lg font-medium tracking-tight leading-6 truncate">Have a nice day
                    at work
                </span>

            </div>

            <div
                class="sm:col-span-2 md:col-span-3 lg:col-span-3 flex flex-col flex-auto p-6 rounded-2xl overflow-hidden">

            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto min-w-0">

        <div class="flex-auto p-6 sm:p-10 bg-white">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                    style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="text-2xl font-medium truncate" style="color: #676666">Appointments</div>
                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">500</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                    style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245); max-height: 315px">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 27.png'" alt="">
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="text-2xl font-medium truncate" style="color: #676666">Patients</div>
                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">300</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                    style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245);">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="text-2xl font-medium truncate" style="color: #676666">Drugs</div>
                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">20</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid grid-cols-1 sm:grid-cols-7 gap-6 w-full min-w-0 mt-12">
                <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245); max-height: 370px;"
                    class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Call Logs</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">
                        <canvas baseChart style="height: 270px !important" [options]="commonOption" [chartType]="'bar'"
                            [colors]='colors' [datasets]="salesDataset" [labels]="doctorGraphConfig.labels"></canvas>
                    </div>

                </div>
                <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                    class="sm:col-span-3 lg:col-span-4 flex flex-col flex-auto p-3 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate ml-4">My Appointments</div>
                    </div>
                    <div class="flex flex-auto overflow-hidden">

                        <div class="flex flex-col flex-auto overflow-hidden">

                            <ng-container *ngIf="appointmentsCount > 0; else noDoctors">

                                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                                    <table class="w-full  " mat-table [multiTemplateDataRows]="true"
                                        [dataSource]="appointments">

                                        <ng-container matColumnDef="name">
                                            <th class="w-8 truncate" mat-header-cell *matHeaderCellDef>
                                                Name
                                            </th>
                                            <td class="pr-2 truncate tracking-tight" mat-cell
                                                *matCellDef="let appointment">
                                                {{appointment.name}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="date">
                                            <th class="w-6 pl-2 truncate" mat-header-cell *matHeaderCellDef>
                                                Date
                                            </th>
                                            <td class="pr-2 pl-2 truncate " mat-cell *matCellDef="let doctor">
                                                {{doctor.createdAt}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="time">
                                            <th class="w-6 pl-2 truncate" mat-header-cell *matHeaderCellDef>
                                                Time
                                            </th>
                                            <td class="pr-4 pl-2 truncate " mat-cell *matCellDef="let doctor">
                                                {{doctor.time}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="status">
                                            <th class="w-4 pl-2  truncate" mat-header-cell *matHeaderCellDef>
                                                Status
                                            </th>
                                            <td class="  truncate" mat-cell *matCellDef="let doctor">
                                                <mat-icon svgIcon="feather:video"></mat-icon>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th class="w-2 pl-2 truncate" mat-header-cell *matHeaderCellDef>
                                            </th>
                                            <td class=" px-2 " mat-cell *matCellDef="let doctor">
                                                <div class="mt-2">
                                                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                                        <mat-icon class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                    </button>
                                                    <mat-menu #summaryMenu="matMenu">
                                                        <button mat-menu-item>Yesterday</button>
                                                        <button mat-menu-item>2 days ago</button>
                                                        <button mat-menu-item>3 days ago</button>
                                                    </mat-menu>
                                                </div>
                                            </td>
                                        </ng-container>


                                        <tr class="shadow" mat-header-row
                                            *matHeaderRowDef="appointmentsTableColumns; sticky: true"></tr>
                                        <tr style="padding-top: 18px; background: #F4F8F8; border-radius: 5px"
                                            class="h-18 hover:bg-green-500 hover:color-red p-4" mat-row
                                            *matRowDef="let doctor; columns: appointmentsTableColumns;"></tr>

                                    </table>
                                    <div class="text-1xl tracking-tight text-center hover:underline pointer">See all
                                        appointments
                                    </div>

                                </div>


                            </ng-container>

                            <ng-template #noDoctors>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                    There
                                    are no
                                    Appointments!
                                </div>
                            </ng-template>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Doctor Dashboard End-->
