.text-2xl {
    font-size: 1.10rem !important;
}


#loader {

    // background-color: #ffffff;

    * {
        margin: 0;
        padding: 0;
    }

    .loader {
        position: absolute;
        width: 360px;
        height: 100px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .one {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        position: absolute;
        top: 50px;
        left: 60px;
        transform: translateY(-50%);
        animation: loader 5s infinite linear;
    }

    .two {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        position: absolute;
        top: 50px;
        left: 105px;
        transform: translateY(-50%);
        animation: loader 5s 0.2s infinite linear;


    }

    .three {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        /*   background-color: #22D3C5; */
        position: absolute;
        top: 50px;
        left: 150px;
        transform: translateY(-50%);
        animation: loader 5s 0.4s infinite linear;
    }

    .four {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        position: absolute;
        top: 50px;
        left: 195px;
        transform: translateY(-50%);
        animation: loader 5s 0.6s infinite linear;
    }

    .five {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        position: absolute;
        top: 50px;
        left: 240px;
        transform: translateY(-50%);
        animation: loader 5s 0.8s infinite linear;
    }

    .six {
        width: 40px;
        height: 40px;
        background-color: #ec1f24;
        position: absolute;
        top: 50px;
        left: 285px;
        transform: translateY(-50%);
        animation: loader 5s 1s infinite linear;
    }

    @keyframes loader {
        0% {
            top: 50px;
        }
        5% {
            background-color: #B1DEF5;
            border-radius: 50%;
            top: 30px;
        }
        8% {
            border-radius: 50%;
            top: 30px;
        }
        13% {
            top: 50px;
        }
        100% {
            top: 50px;
        }
    }

}
