<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                {{pageType && pageType === 'edit' ? 'Update Representative' : 'Create Representative'}}</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- All Doctors button -->
                <button class="ml-4" mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;" [routerLink]="'/agent'">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    <span class="ml-2 mr-1">All Representative</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctor Form -->
            <div class="flex flex-col flex-auto overflow-hidden">
                <div class="flex border-b">
                    <!-- Selected product form -->
                    <form class="flex flex-col w-full" [formGroup]="agentForm">

                        <div class="flex px-8 pt-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">
                                    <!-- First Name -->
                                    <mat-form-field class="w-full">
                                        <mat-label>First Name <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'first_name'">
                                        <app-input-info [show]="form.getCond('first_name')" [message]="form.getMsg('first_name').message"></app-input-info>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Last Name <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'last_name'">
                                        <app-input-info [show]="form.getCond('last_name')" [message]="form.getMsg('last_name').message"></app-input-info>
                                    </mat-form-field>

                                </div>

                                <!-- Email -->
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Email <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'email'">
                                        <app-input-info [show]="form.getCond('email')" [message]="form.getMsg('email').message"></app-input-info>
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">
                                    <!-- Phone -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Phone <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'phone'">
                                        <app-input-info [show]="form.getCond('phone')" [message]="form.getMsg('phone').ifPattern('Must only contain digits')"></app-input-info>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Aadhaar Number <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'aadhaar_number'">
                                        <app-input-info [show]="form.getCond('aadhaar_number')" [message]="form.getMsg('aadhaar_number').ifPattern('Must only contain digits')"></app-input-info>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Gender <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'gender'" placeholder="Select Gender">
                                            <ng-container>
                                                <mat-option [value]="'Male'">
                                                    {{'Male'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'Female'">
                                                    {{'Female'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('gender')" [message]="form.getMsg('gender').message"></app-input-info>
                                    </mat-form-field>

                                </div>


                                <!-- Speciality Type -->
                                <!-- <div class="flex flex-col w-1/3 pl-8">

                                    <mat-form-field class="w-full">
                                        <mat-label>Speciality Type </mat-label>
                                        <mat-select [formControlName]="'speciality'"
                                                    placeholder="Select Speciality Type">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of specialites" [value]="spe.id">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div> -->

                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Select State <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'state'" placeholder="Select State">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of state" [value]="spe.name">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('state')" [message]="form.getMsg('state').message"></app-input-info>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Select City <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'city'" placeholder="Select City">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of city" [value]="spe.city">
                                                    {{spe.city}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <app-input-info [show]="form.getCond('city')" [message]="form.getMsg('city').message"></app-input-info>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Address <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'address'">
                                        <app-input-info [show]="form.getCond('address')" [message]="form.getMsg('address').message"></app-input-info>
                                    </mat-form-field>

                                </div>
                                <!-- <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Clinic</mat-label>
                                        <mat-select [formControlName]="'hospital_id'"
                                                    placeholder="Select Clinic">
                                            <ng-container>
                                                <mat-option [value]="'male'">
                                                    {{'Male'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'female'">
                                                    {{'Female'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div> -->
                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <!-- <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>City</mat-label>
                                        <mat-select [formControlName]="'city'"
                                                    placeholder="Select City">
                                            <ng-container>
                                                <mat-option [value]="'male'">
                                                    {{'Male'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'female'">
                                                    {{'Female'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Pin <span class="text-red-600">*</span></mat-label>
                                        <input matInput [formControlName]="'zip_code'">
                                        <app-input-info [show]="form.getCond('zip_code')" [message]="form.getMsg('zip_code').ifPattern('Must only contain digits')"></app-input-info>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col w-1/3 pl-8">
<!--                                    <mat-form-field class="w-full">-->
<!--                                        <mat-label>Camp <span class="text-red-600">*</span></mat-label>-->
<!--                                        <mat-select [formControlName]="'camp_id'" placeholder="Select Camp">-->
<!--                                            <ng-container>-->
<!--                                                <mat-option *ngFor="let spe of clinic" [value]="spe.camp_id">-->
<!--                                                    {{spe.camp_name}}-->
<!--                                                </mat-option>-->
<!--                                            </ng-container>-->
<!--                                        </mat-select>-->
<!--                                        <app-input-info [show]="form.getCond('camp_id')" [message]="form.getMsg('camp_id').message"></app-input-info>-->
<!--                                    </mat-form-field>-->

                                    <mat-form-field class="w-full">
                                        <mat-label>Camp Name <span class="text-red-600">*</span></mat-label>
                                        <mat-select [formControlName]="'camp_id'"
                                                    placeholder="Select Camp" (closed)="selectSpecialitiesClosed()" (opened)="selectSpecialitiesOpened()">
                                            <input #input class="py-2 px-4 text-base w-full" placeholder="Type here to search camps..." (keyup)="onKey($event)">
                                            <ng-container *ngIf="camps.length > 0; else noCamps">
                                                <mat-option *ngFor="let spe of camps" [value]="spe.camp_id">
                                                    {{spe.camp_name}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-template #noCamps>
                                                <p class="p-3 text-center text-base">No Camps</p>
                                            </ng-template>

                                        </mat-select>
                                        <app-input-info [show]="form.getCond('camp_id')" [message]="form.getMsg('camp_id').message"></app-input-info>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="w-full">
                                        <mat-label>Clinic</mat-label>
                                        <mat-select [formControlName]="'hospital_id'"
                                                    placeholder="Select Clinic">
                                            <ng-container>
                                                <mat-option [value]="'male'">
                                                    {{'Male'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'female'">
                                                    {{'Female'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field> -->

                                </div>
                            </div>
                        </div>
                        <!-- <div class="flex px-8">
                            <div class="flex flex-col">
                                <div class="flex flex-col items-center">
                                    <div class="p-3 border rounded">
                                        <ng-template #noImage>
                                            <span
                                                class="flex items-center min-h-20 text-lg font-semibold">NO IMAGE</span>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="flex items-center justify-between w-full px-8 py-4">
                            <button [disabled]="agentForm.invalid" *ngIf="pageType ==='new'" (click)="addAgent($event)"
                                class="ml-8" mat-button [ngStyle]="{ background: theme.primary }"
                                style="border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Save</span>
                            </button>

                            <button class="ml-8" mat-button [disabled]="agentForm.invalid" *ngIf="pageType ==='edit'"
                                (click)="saveDoctor($event)" [ngStyle]="{ background: theme.primary }"
                                style="border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Update</span>
                            </button>
                            <!--  <div class="flex items-center">
                                  <div
                                      class="flex items-center mr-4"
                                      *ngIf="flashMessage">
                                      <ng-container *ngIf="flashMessage === 'success'">
                                          <mat-icon
                                              class="text-green-500"
                                              [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                          <span class="ml-2">Product updated</span>
                                      </ng-container>
                                      <ng-container *ngIf="flashMessage === 'error'">
                                          <mat-icon
                                              class="text-red-500"
                                              [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                          <span class="ml-2">An error occurred, try again!</span>
                                      </ng-container>
                                  </div>
                                  <button
                                      mat-flat-button
                                      [color]="'primary'"
                                      (click)="updateSelectedProduct()">
                                      Update
                                  </button>
                              </div>-->
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
