.fuse-mat-rounded .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
    --tw-bg-opacity: 1 !important;
    background-color: #115498 !important;
    color: white !important;
    border-radius: 0px !important;
    border: 1px solid grey;

    mat-icon {
        color: white !important;
    }
}

.fuse-mat-rounded .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    min-width: 0 !important;
    height: 40px !important;
    padding: 0 20px !important;
    // border-radius: 9999px !important;
    --tw-text-opacity: 1;
    color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity));
    border: 1px solid grey !important;
    border-radius: 0px !important;
    margin-left: 0px !important;

    mat-icon {
        color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity));
    }
}

.fuse-mat-rounded .mat-tab-group .mat-tab-header .mat-tab-label-container {
    padding: 0 0 !important;
}


