<!-- Button -->
<div style="width: 100px;
    background: #E5E5E5;
    border-radius: 34px;" class="vertical-align">
    <button
        mat-icon-button
        [matMenuTriggerFor]="languages">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
        <span class="ml-2" style="color: black">{{activeLang && activeLang === 'en' ? 'En' : 'Ar'}}</span>
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'keyboard_arrow_down'"></mat-icon>
        <!--<ng-container *ngTemplateOutlet="flagImage; context: {$implicit: activeLang}"></ng-container>-->
    </button>

</div>
<!-- Language menu -->
<mat-menu
    [xPosition]="'before'"
    #languages="matMenu">
    <ng-container *ngFor="let lang of availableLangs; trackBy: trackByFn">
        <button
            mat-menu-item
            (click)="setActiveLang(lang.id)">
            <span class="flex items-center">
                <!--<ng-container *ngTemplateOutlet="flagImage; context: {$implicit: lang.id}"></ng-container>-->
                <span class="ml-3">{{lang.label}}</span>
            </span>
        </button>
    </ng-container>
</mat-menu>

<!-- Flag image template -->
<ng-template
    let-lang
    #flagImage>
    <span class="relative w-6 shadow rounded-sm overflow-hidden">
        <span class="absolute inset-0 ring-1 ring-inset ring-black ring-opacity-10"></span>
        <span class="ml-3">{{lang.label}}</span>
        <!--<img
            class="w-full"
            [src]="'assets/images/flags/' + flagCodes[lang].toUpperCase() + '.svg'"
            [alt]="'Flag image for ' + lang">-->
    </span>
</ng-template>
