<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">All Speciality</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <form action="flex flex-shrink-0 items-center" [formGroup]="filterForm">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon
                                matPrefix
                                [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input [formControlName]="'search'"
                                matInput
                                [autocomplete]="'off'"
                                [placeholder]="'Search...'">
                        <div *ngIf="isSearchedList" (click)="resetSearch($event)" class="h-full flex justify-center items-center cursor-pointer text-red-700">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </mat-form-field>


                    <button class="ml-4 bg-primary-400 transition" mat-flat-button
                            style="color: white; border-radius: 6px;" (click)="handleSearchClick(filterForm)">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">Search</span>
                    </button>
                </form>

                <!-- Add Doctors button -->
                <button
                    class="ml-4"
                    mat-flat-button
                    [ngStyle]="{ background: theme.primary }"
                    style="color: white; border-radius: 6px;"
                    [routerLink]="'/speciality/new'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add New Speciality</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div
                        class="overflow-x-auto sm:overflow-y-auto"
                        cdkScrollable>

                        <!-- Table -->
                        <table
                            class="w-full  table-fixed bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table
                            [multiTemplateDataRows]="true"
                            [dataSource]="currentItems"
                        >

                            <!-- Name -->
                            <ng-container matColumnDef="name">
                                <th
                                    class="text-center pl-0 w-12 border-r font-bold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Name
                                </th>
                                <td
                                    class="pl-0 truncate border-r tracking-tight"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.name || ''}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th
                                    class="text-center w-8  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Status
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div class="w-full h-full flex justify-center items-center">
                                    <span *ngIf="doctor?.is_active=== 1" class="flex items-center"
                                          style="width: 60px; background: green; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">Active</span>
                                </span>
                                        <span *ngIf="doctor?.is_active !== 1" class="flex items-center"
                                              style="width: 70px; background: #F14963; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">Inactive</span>
                                </span>
                                    </div>
<!--                                    <span *ngIf="doctor?.is_active" class="flex items-center"-->
<!--                                          style="width: 60px; background: #F14963; border-radius: 10px;color: white">-->
<!--                                    <span class="min-w-4" style="margin-left: 10px">{{'Active'}}</span>-->
<!--                                </span>-->
<!--                                    <span *ngIf="!doctor?.is_active" class="flex items-center"-->
<!--                                          style="width: 70px; background: #FCA603; border-radius: 10px;color: white">-->
<!--                                    <span class="min-w-4" style="margin-left: 10px">{{'Inactive'}}</span>-->
<!--                                </span>-->
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th
                                    class="text-center pr-0 w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td
                                    class="pr-0"
                                    mat-cell
                                    *matCellDef="let doctor; let i = dataIndex">
                                    <div class="flex flex-shrink-0 justify-center items-center">
                                        <!--<button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            (click)="editSpeciality(doctor)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:edit'"></mat-icon>
                                        </button>-->
                                        <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                style="border: none;"
                                                mat-stroked-button
                                                (click)="saveSpeciality($event,doctor, i)">
                                            <mat-icon class="icon-size-5" svgIcon="mat_outline:refresh"></mat-icon>
                                        </button>
<!--                                        <button-->
<!--                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "-->
<!--                                            style="border: none;"-->
<!--                                            mat-stroked-button-->
<!--                                            (click)="previewDoctor(doctor.id)">-->
<!--                                            <mat-icon class="icon-size-5" svgIcon="mat_outline:refresh"></mat-icon>-->
<!--                                        </button>-->
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td
                                    class="p-0 border-b-0"
                                    mat-cell
                                    *matCellDef="let doctor"
                                    [attr.colspan]="specialityTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr
                                class="shadow"
                                mat-header-row
                                *matHeaderRowDef="specialityTableColumns; sticky: true"></tr>
                            <tr
                                class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                                mat-row
                                *matRowDef="let doctor; columns: specialityTableColumns;"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>
                    </div>

                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Speciality!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
