<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
            class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
            style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">View Doctor</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Back Doctor button -->
                <button
                        class="ml-4"
                        mat-flat-button
                        style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                        [routerLink]="'/doctors'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden p-10">
                <div class="flex justify-between">
                    <div class="flex items-center mb-7">
                        <div class="relative">
                            <div class="w-6 h-6 absolute right-4 border-white border-4 top-3/4 bg-green-400 my-0 mt-1 mx-3 rounded-full"></div>
                            <div class="w-44 h-44 overflow-hidden rounded-full mr-5">
                                <img class="min-w-full min-h-full" src="{{doctor?.image || 'assets/images/default.jpg'}}" alt="" />
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center m-0">
                                <h5 class="text-2xl font-bold m-0">{{doctor?.first_name}} {{doctor?.middle_name}} {{doctor?.last_name}}</h5>
                                <ng-container *ngIf="doctor?.year_of_experience">
                                    <div class="w-2 h-2 bg-gray-300 my-0 mt-1 mx-3 rounded-full"></div>
                                    <span matTooltip="Years of experience"><span class="font-bold">Practice years: </span><span class="text-md font-semibold italic text-gray-400">{{doctor?.year_of_experience}}{{+doctor?.year_of_experience > 1 ? ' Yrs' : ' Yr' }}</span></span>
                                </ng-container>
                            </div>
                            <p *ngIf="doctor?.email; else NA" style="color: #1769E3">{{doctor?.email}}</p>
                            <span *ngIf="doctor?.speciality && getSpecialityById(doctor?.speciality)?.name; else NA" class="font-medium text-gray-600" matTooltip="Speciality">{{getSpecialityById(doctor?.speciality)?.name}}</span>
                            <p class="text-gray-400 text-sm">Created at: {{doctor?.created_at | date}}</p>
                            <span class="text-sm mb-1 text-gray-500">Bio: </span><span class="text-gray-500 text-md leading-5 mb-7 italic">{{doctor.bio}}</span>
                        </div>
                    </div>
                    <div>
                        <bar-rating [style]="{zoom: 0.7}" [(rate)]="doctor.avgrating" [max]="5"
                                    [theme]="'stars'" [readOnly]="true"></bar-rating>
                    </div>
                </div>
                <div class="mb-7">
                    <div class="my-3 text-xl font-semibold text-gray-700">
                        <p>General Details</p>
                    </div>
                    <div class="grid grid-cols-7 gap-7 mb-4">
                        <div class="col-span-2">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Date of Birth</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.date_of_birth; else NA">{{doctor?.date_of_birth | date:'longDate'}}</p>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Phone</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.phone; else NA">+91 {{doctor?.phone}}</p>
                            </div>
                        </div>
                        <div class="col-span-3">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Address</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.address1; else NA">{{doctor?.address1}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-8 gap-7">
                        <div class="col-span-3">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">State</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.state; else NA">{{doctor?.state}}</p>
                            </div>
                        </div>
                        <div class="col-span-3">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">City</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.city; else NA">{{doctor?.city}}</p>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Zip Code</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.zip_code; else NA">{{doctor?.zip_code}}</p>
                            </div>
                        </div>
<!--                        <div class="col-span-1">-->
<!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Country</p>-->
<!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
<!--                                <p>{{doctor?.country}}</p>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="mb-7">
                    <div class="my-3 text-xl font-semibold text-gray-700">
                        <p>License Details</p>
                    </div>
                    <div class="grid grid-cols-2 gap-7 mb-4">
                        <div class="col-span-1">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">State of Issue</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.licence; else NA">{{doctor?.licence}}</p>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <p class="text-sm mb-1 ml-0.5 text-gray-500">National License</p>
                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                <p *ngIf="doctor?.national_licence; else NA">{{doctor?.national_licence}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-7">
                    <div class="my-3 text-xl font-semibold text-gray-700">
                        <p>Education Details</p>
                    </div>
                    <ng-container *ngIf="doctor?.education_details?.length > 0; else noEducationDetails">
                        <div class="grid grid-cols-11 gap-7 mb-4" *ngFor="let detail of doctor?.education_details">
                            <div class="col-span-6">
                                <p class="text-sm mb-1 ml-0.5 text-gray-500">Institution Name</p>
                                <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                    <p *ngIf="detail?.institution_name; else NA">{{detail.institution_name}}</p>
                                </div>
                            </div>
                            <div class="col-span-3">
                                <p class="text-sm mb-1 ml-0.5 text-gray-500">Degree</p>
                                <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                    <p *ngIf="detail?.degree; else NA">{{detail.degree}}</p>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <p class="text-sm mb-1 ml-0.5 text-gray-500">Year Completed</p>
                                <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">
                                    <p *ngIf="detail?.year; else NA">{{detail.year}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noEducationDetails>
                        <div>
                            <p class="text-gray-300">No Education Details Found</p>
                        </div>
                    </ng-template>
<!--                    <div class="grid grid-cols-11 gap-7 mb-4">-->
<!--                        <div class="col-span-6">-->
<!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Institution Name</p>-->
<!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
<!--                                <p>IMS Noida</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-span-3">-->
<!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Degree</p>-->
<!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
<!--                                <p>MBBS</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-span-2">-->
<!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Year Completed</p>-->
<!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
<!--                                <p>2016</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="mb-7">
                <div class="my-3 text-xl font-semibold text-gray-700">
                    <p>Reviews</p>
                </div>
                <div class="divide-y divide-gray-200 divide-solid">
                    <ng-container *ngIf="currentItems.length > 0 || isLoading; else noReviews">
                        <div *ngFor="let reviewItem of currentItems" class="flex col-span-2 flex-col items-start w-full pr-3 mt-2 mb-4">
                            <div class="flex w-full items-center mt-3">
                                <img class="w-6 rounded-full h-6 object-cover"
                                     [src]="reviewItem.p_image || 'assets/images/default.jpg'" alt="">
                                <p class="ml-1.5">{{reviewItem.pf_name}} {{reviewItem.pm_name}} {{reviewItem.pl_name}}</p>
                            </div>
                            <div style="color: #676666">
                            <span>
                                <bar-rating [style]="{zoom: 0.7}" [(rate)]="reviewItem.rating" [max]="5"
                                            [theme]="'stars'" [readOnly]="true"></bar-rating>
                            </span>
                            </div>
                            <div class="font-medium text-gray-800">
                                {{reviewItem.review}}
                            </div>
                            <div>
                                <p class="mt-1 text-gray-500 text-md mt-1">Posted on: <span
                                        class="text-black font-bold number-font">{{reviewItem.created_at |
                                  date:'medium'}}</span></p>
                            </div>
                        </div>
                    </ng-container>
                    <mat-paginator
                            *ngIf="currentItems.length > 0"
                            [length]="totalItemsCount"
                            [pageSize]="limit"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            (page)="onPageChange($event)"
                            [pageIndex]="currentPage - 1"
                            aria-label="Select page">
                    </mat-paginator>
                </div>
                <ng-template #noEducationDetails>
                    <div>
                        <p class="text-gray-300">No Education Details Found.</p>
                    </div>
                </ng-template>
                    <ng-template #noReviews>
                        <div>
                            <p class="text-gray-300">No Reviews.</p>
                        </div>
                    </ng-template>
                <!--                    <div class="grid grid-cols-11 gap-7 mb-4">-->
                <!--                        <div class="col-span-6">-->
                <!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Institution Name</p>-->
                <!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
                <!--                                <p>IMS Noida</p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="col-span-3">-->
                <!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Degree</p>-->
                <!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
                <!--                                <p>MBBS</p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="col-span-2">-->
                <!--                            <p class="text-sm mb-1 ml-0.5 text-gray-500">Year Completed</p>-->
                <!--                            <div class="border bg-gray-100 border-gray-300 rounded-lg py-2 px-3.5 font-semibold">-->
                <!--                                <p>2016</p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
            </div>
            <!--            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2">-->
<!--                &lt;!&ndash; Task distribution &ndash;&gt;-->
<!--                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">-->
<!--                    <div class="w-16 h-16 rounded-full overflow-hidden items-start">-->
<!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
<!--                             style="position: absolute">-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-4"><b>Name: </b> &#160;&#160;{{doctor?.first_name}} {{doctor?.middle_name}} {{doctor?.last_name}}</span>-->
<!--                            <br>-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Email: </b>&#160;&#160;{{doctor?.email}}</span>-->
<!--                            <br>-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb2"><b>Phone No:</b> &#160;&#160;{{doctor?.phone}}</span>-->
<!--                            &lt;!&ndash;                            <br>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <span&ndash;&gt;-->
<!--                            &lt;!&ndash;                            class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb2"><b>Institution Name:</b>&#160;&#160; {{doctor?.institution_name}}</span>&ndash;&gt;-->
<!--                            <br>-->
<!--                            &lt;!&ndash; <div class="flex flex-row">-->
<!--                                <p class="mt-10 text-2xl text-dark-800 dark:text-dark-900">Image:</p><img-->
<!--                                style="height: 100px;width: 100px;margin-left: 15px;" class="mt-2"-->
<!--                                [src]="'assets/images/logo/logo.png'" alt="">-->
<!--                            </div> &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex flex-row items-start w-full">-->
<!--                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">-->
<!--                            <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"-->
<!--                                 style="position: absolute">-->
<!--                            <span-->
<!--                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Created Date:</b> &#160;&#160;{{doctor?.created_at | date}}</span>-->
<!--                                <br>-->
<!--                                <span-->
<!--                                        class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2"><b>Address:</b> &#160;&#160;{{doctor?.City || ''}} {{doctor?.state || ''}} {{doctor?.zip_code || ''}} {{doctor?.address1 || ''}}</span>-->
<!--                                <br>-->
<!--                                <span-->
<!--                                        class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2"><b>Year of experience:</b>&#160;&#160; {{doctor?.year_of_experience || ''}}</span>-->
<!--                                &lt;!&ndash;                                    <br>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <span&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    class="text-xl font-medium text-dark-800 dark:text-dark-900 p-2"><b>Degree:</b> &#160;&#160;{{doctor?.degree || ''}}</span>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Task distribution &ndash;&gt;-->
<!--                <div class="w-full min-w-0 mt-5 px-7">-->
<!--                    <div class="text-2xl font-bold">-->
<!--                        <p>Education Details</p>-->
<!--                    </div>-->
<!--                    <div *ngFor="let detail of doctor.education_details" class="border-solid border rounded grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 mt-2 p-3">-->
<!--                        <p><span class="font-bold">Institution Name: </span><span class="text-gray-500">{{detail.institution_name}}</span></p>-->
<!--                        <p><span class="font-bold">Degree: </span><span class="text-gray-500">{{detail.degree}}</span></p>-->
<!--                        <p><span class="font-bold">Year Completed: </span><span class="text-gray-500">{{detail.year}}</span></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <ng-template #NA>
                <span class="text-gray-400 font-normal">N/A</span>
            </ng-template>
        </div>
    </div>
</div>
