<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">

<!--    <div cdkScrollable-->
<!--        class="sm:col-span-3 lg:col-span-4 mx-10 mt-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"-->
<!--        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">-->
<!--        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-3  px-6 md:px-8 ">-->

<!--            <div class="text-3xl font-semibold tracking-tight">Search Appointments</div>-->

<!--            &lt;!&ndash; Actions &ndash;&gt;-->
<!--            <div class="flex flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4">-->
<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--                &lt;!&ndash;<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                    <mat-icon-->
<!--                        matPrefix-->
<!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                    <input-->
<!--                        matInput-->
<!--                        [autocomplete]="'off'"-->
<!--                        [placeholder]="'Search...'">-->
<!--                </mat-form-field>&ndash;&gt;-->

<!--                &lt;!&ndash; Add Doctors button &ndash;&gt;-->
<!--                &lt;!&ndash; <div class="flex flex-row ">-->
<!--                    <mat-radio-group aria-label="Select an option" class="mt-3"-->
<!--                    >-->
<!--                        <mat-radio-button value="1" class="mr-2">Old Patient</mat-radio-button>-->
<!--                        <mat-radio-button value="2">New Patient</mat-radio-button>-->
<!--                    </mat-radio-group>-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

<!--&lt;!&ndash;        <div class="flex px-8 pt-8 mb-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex flex-auto">&ndash;&gt;-->


<!--                <form class="flex px-8 justify-end pt-8 mb-6" action="">-->
<!--                    <div class="flex flex-col justify-center w-1/4 pl-8">-->
<!--                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--&lt;!&ndash;                            <mat-label>Date</mat-label>&ndash;&gt;-->

<!--                            <input matInput [matDatepicker]="dp1"[placeholder]="'Search...'">-->
<!--                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>-->
<!--                            <mat-datepicker #dp1></mat-datepicker>-->
<!--                        </mat-form-field>-->

<!--                    </div>-->

<!--                    &lt;!&ndash; Email &ndash;&gt;-->
<!--                    &lt;!&ndash;                <div class="flex flex-col w-1/4 pl-8">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <mat-form-field class="w-full">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <mat-label>Time</mat-label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <mat-select placeholder="Select Language">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <ng-container>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <mat-option [value]="'hindi'">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    {{'11:00'}}&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </mat-option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </ng-container>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <ng-container>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <mat-option [value]="'English'">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    {{'12:00'}}&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </mat-option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </ng-container>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </mat-select>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </mat-form-field>&ndash;&gt;-->

<!--                    &lt;!&ndash;                </div>&ndash;&gt;-->

<!--                    <div class="flex flex-col justify-center w-1/4 pl-8">-->
<!--                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                            <input matInput [autocomplete]="'off'" [placeholder]="'Search...'">-->
<!--                        </mat-form-field>-->

<!--                    </div>-->
<!--                    <div class="flex flex-col pl-8" style="align-items: center;justify-content: center;">-->
<!--                        <button class="bg-primary-400 transition" mat-flat-button-->
<!--                                style="color: white; border-radius: 6px;">-->
<!--                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                            <span class="ml-2 mr-1">Search</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->

<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-8 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Appointments</div>

            <!-- Actions -->
            <form class="flex justify-end" [formGroup]="filterForm" action="">
                <div class="flex flex-col justify-center pl-8">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <!--                            <mat-label>Date</mat-label>-->

                        <input readonly matInput [formControlName]="'date'" [matDatepicker]="dp1"[placeholder]="'Search...'">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>

                </div>

                <!-- Email -->
                <!--                <div class="flex flex-col w-1/4 pl-8">-->
                <!--                    <mat-form-field class="w-full">-->
                <!--                        <mat-label>Time</mat-label>-->
                <!--                        <mat-select placeholder="Select Language">-->
                <!--                            <ng-container>-->
                <!--                                <mat-option [value]="'hindi'">-->
                <!--                                    {{'11:00'}}-->
                <!--                                </mat-option>-->
                <!--                            </ng-container>-->
                <!--                            <ng-container>-->
                <!--                                <mat-option [value]="'English'">-->
                <!--                                    {{'12:00'}}-->
                <!--                                </mat-option>-->
                <!--                            </ng-container>-->
                <!--                        </mat-select>-->
                <!--                    </mat-form-field>-->

                <!--                </div>-->

                <div class="flex flex-col justify-center pl-8">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input [formControlName]="'search'" matInput [autocomplete]="'off'" [placeholder]="'Search...'">
                        <div *ngIf="isSearchedList" (click)="resetSearch($event)" class="h-full flex justify-center items-center cursor-pointer text-red-700">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </mat-form-field>

                </div>
                <div class="flex flex-col pl-8" style="align-items: center;justify-content: center;">
                    <button class="bg-primary-400 transition" mat-flat-button
                            style="color: white; border-radius: 6px;" (click)="handleSearchClick(filterForm)">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">Search</span>
                    </button>
                </div>
            </form>
<!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--                &lt;!&ndash;<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                    <mat-icon-->
<!--                        matPrefix-->
<!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                    <input-->
<!--                        matInput-->
<!--                        [autocomplete]="'off'"-->
<!--                        [placeholder]="'Search...'">-->
<!--                </mat-form-field>&ndash;&gt;-->

<!--                &lt;!&ndash; disabled='true' &ndash;&gt;-->
<!--                &lt;!&ndash; Add Doctors button &ndash;&gt;-->
<!--                <button class="ml-4" mat-flat-button [ngStyle]="{ background: theme.primary }"-->
<!--                    style="color: #ffffff; border-radius: 6px;" [routerLink]="'/appointments/list-by-date'">-->
<!--                    <span class="mx-2">List by date</span>-->
<!--                    <mat-icon [svgIcon]="'iconsmind:calendar_clock'"></mat-icon>-->
<!--                </button>-->
<!--            </div>-->
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                        <!-- Table -->
                        <table class="w-full  table-fixed bg-transparent" [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table [multiTemplateDataRows]="true" [dataSource]="currentItems">

                            <!-- Name -->
                            <!-- <ng-container matColumnDef="#">
                                <th
                                    class="w-5 border-r font-bold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    #
                                </th>
                                <td
                                    class="pr-8 truncate border-r tracking-tight"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{'1'}}
                                </td>
                            </ng-container> -->

                            <!-- Price -->
                            <ng-container matColumnDef="sno">
                                <th class="text-center w-5 pl-0 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    S. No.
                                </th>
                                <td class="pl-0 truncate border-r" mat-cell *matCellDef="let doctor">
                                    {{doctor.appoint_id ||''}}
                                </td>
                            </ng-container>

                            <!-- Stock -->
                            <!-- <ng-container matColumnDef="mrNo" >
                                <th
                                    class="w-6  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Mr No.
                                </th>
                                <td
                                    class="  truncate border-r"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.appoint_id || ''}}
                                </td>
                            </ng-container> -->

                            <!-- Active -->
                            <ng-container matColumnDef="memberName">
                                <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Member Name
                                </th>
                                <td class="  border-r truncate capitalize" mat-cell *matCellDef="let doctor">
                                    {{doctor.p_name || ''}} {{doctor.p_l_name || ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="doctorName">
                                <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Doctor Name
                                </th>
                                <td class="  border-r truncate capitalize" mat-cell *matCellDef="let doctor">
                                    {{doctor.d_name || ''}} {{doctor.d_l_name || ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="scheduleInfo">
                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Schedule Info.
                                </th>
                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">
                                    {{doctor.date | date: 'mediumDate'}}
                                    <br>
                                    {{doctor.start_time}} - {{doctor.end_time}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="consultantType">
                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Consultation Type
                                </th>
                                <td class="  border-r truncate" mat-cell *matCellDef="let doctor">
                                    <span *ngIf="doctor?.is_active === 1" class="flex items-center mx-auto"
                                        style="width: 133px; background: #F14963; border-radius: 10px;color: white">
                                        <span class="min-w-4"
                                            style="margin-left: 10px">{{doctor?.appointment_type}}</span>
                                    </span>
                                    <span *ngIf="doctor?.is_active !== 1" class="flex items-center mx-auto"
                                        style="width: 133px; background: #FCA603; border-radius: 10px;color: white">
                                        <span class="min-w-4"
                                            style="margin-left: 10px">{{doctor?.appointment_type}}</span>
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td class="pr-0  " mat-cell *matCellDef="let doctor; let i = dataIndex">
                                    <div class="flex flex-shrink-0 justify-center items-center">

                                        <!-- <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            (click)="previewDoctor(doctor)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:eye'"></mat-icon>
                                        </button> -->
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                            mat-stroked-button (click)="deleteAppointment($event,doctor.id,i)">
                                            <mat-icon class="icon-size-5" [svgIcon]="'delete_forever'"></mat-icon>
                                        </button>
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td class="p-0 border-b-0" mat-cell *matCellDef="let doctor"
                                    [attr.colspan]="appointmentsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr class="shadow" mat-header-row *matHeaderRowDef="appointmentsTableColumns; sticky: true">
                            </tr>
                            <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                *matRowDef="let doctor; columns: appointmentsTableColumns;"></tr>
                            <tr class="h-0" mat-row *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Appointments!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
