<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Appointments list by date</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">


                <!-- Add Doctors button -->
                <button
                    class="ml-4"
                    mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                    [routerLink]="'/appointments'">
                    <mat-icon [svgIcon]="'mat_solid:arrow_back'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="listCount > 0; else noAppointments">

                    <!-- Table wrapper -->
                    <div
                        class="overflow-x-auto sm:overflow-y-auto"
                        cdkScrollable>

                        <!-- Table -->
                        <table
                            class="w-full  table-fixed bg-transparent"
                            mat-table
                            [multiTemplateDataRows]="true"
                            [dataSource]="lists"
                        >

                            <!-- Name -->
                            <ng-container matColumnDef="date">
                                <th
                                    class="w-12 border-r font-bold text-1xl truncate text-center"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Date
                                </th>
                                <td
                                    class=" truncate border-r tracking-tight text-center"
                                    mat-cell
                                    *matCellDef="let doctor">

                                    <div
                                        style="border-radius: 1rem; width: 130px; background: #E5E5E5; margin-left: 30%">
                                        <mat-icon
                                            class="icon-size-5 mr-1 text-center"
                                            [svgIcon]="'iconsmind:calendar_clock'"></mat-icon>
                                        <span class="font-semibold">{{doctor.createdAt}}</span></div>
                                </td>
                            </ng-container>

                            <!-- Price -->
                            <ng-container matColumnDef="patients">
                                <th
                                    class="w-12 pl-2 border-r font-semibold text-1xl truncate text-center"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Patients
                                </th>
                                <td
                                    class="pr-4 pl-2 truncate border-r text-center"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div
                                        style="border-radius: 1rem; width: 70px; background: #E5E5E5; margin-left: 40%">
                                        <mat-icon
                                            class="icon-size-5 mr-1"
                                            [svgIcon]="'iconsmind:add_user'"></mat-icon>
                                        <span class="font-semibold text-2xl">{{'3'}}</span></div>
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th
                                    class="w-10 pl-2 border-r font-semibold text-1xl truncate text-center"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td
                                    class="pr-8 pl-2 text-center"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div class="flex flex-shrink-0 items-center text-center"
                                         style="justify-content: center">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 text-center"
                                            style="border: none;"
                                            mat-stroked-button
                                            [routerLink]="'/appointments/list-by-date/view'">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td
                                    class="p-0 border-b-0"
                                    mat-cell
                                    *matCellDef="let doctor"
                                    [attr.colspan]="listTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr
                                class="shadow"
                                mat-header-row
                                *matHeaderRowDef="listTableColumns; sticky: true"></tr>
                            <tr
                                class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                                mat-row
                                *matRowDef="let doctor; columns: listTableColumns;"></tr>
                            <tr
                                class="h-0"
                                mat-row
                                *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                            class=" "
                            [length]="10"
                            [pageIndex]="1"
                            [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true"></mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noAppointments>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Appointments!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
