.user-call {
    height: 165px;

    background-position: center;
    width: 223px;
    border: 1px solid white;
    border-radius: 1rem;
    position: absolute;
    left: 360px;
    top: 165px;
}

.example-accordion {
    display: block;
    max-width: 500px;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
}

.example-accordion-item-header {
    padding: 16px;
}
.example-accordion-item-body {
    background: #F4F4F4 !important;
   // padding: 16px;
   /* margin-top: 10px;
    margin-bottom: 10px;*/
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


//video css

#buttons-container {
  // position: absolute;
  z-index: 2;  
  // width: 100vw;
}

#full-screen-video {
  // position: absolute;
  min-width: 550px;
  height: 450px;
}

#lower-video-bar {
  height: 20vh;
}

#local-stream-container { 
  position: relative; 
  display: inline-block;
}

.remote-stream-container { 
  display: inline-block;
}

#remote-streams {
  height: 100%;
}

#local-video {
  // position: absolute;
  z-index: 1;
  height: 30vh;
  max-width: 150px;
  right: 0;
  margin-top: 50px;
}

.remote-video {
  // position: absolute;
  z-index: 1;
  height: 100% !important;
  width: 80%;
  max-width: 500px;
}

#mute-overlay {
  // position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  color: #d9d9d9;
  font-size: 2em;
  padding: 0 0 3px 3px;
  display: none;
} 

.mute-overlay {
  // position: absolute;
  z-index: 2;
  top: 2px;
  color: #d9d9d9;
  font-size: 1.5em;
  padding: 2px 0 0 2px;
  display: none;
}

#no-local-video, .no-video-overlay {
  // position: absolute;
  z-index: 3;
  width: 100%;
  top: 40%;
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  display: none;
}

.no-video-overlay {
  width: 80%;
}

#screen-share-btn-container {
  z-index: 99;
}

.callbtn{
  margin: 5px 20px 5px 20px;
}

.local {
  right: 1rem;
  bottom: 1rem;
  width: 135px;
  height: 135px;
  border-radius: 5px;
  float: right;
  overflow: hidden;
  z-index: 1;
}

.remote {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* width: 100vw; */
  height: 470px;
  // display: flex;
}

.stack-top{
  z-index: 9;
  width: 100px;
  height: 100px;
  margin-top: 42%;
  margin-left: 82%;
}
.stack-top1{
  z-index: 9;
  width: 100%;
  height: 50px;
  margin-top: 65%;
  padding: 0px 55px;
}
.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;  /* for demo purpose  */
}

.containertext{
  width: 100%;
  height: 470px;
  position: relative;
  /* margin: 20px; */
}
