<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
            class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
            style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <!--        <div-->
        <!--            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">-->
        <!--            &lt;!&ndash; Loader &ndash;&gt;-->
        <!--            <div-->
        <!--                class="absolute inset-x-0 bottom-0"-->
        <!--                *ngIf="isLoading">-->
        <!--                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
        <!--            </div>-->
        <!--            &lt;!&ndash; Title &ndash;&gt;-->
        <!--            <div class="text-3xl font-semibold tracking-tight">Call Logs</div>-->

        <!--            &lt;!&ndash; Actions &ndash;&gt;-->
        <!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
        <!--                &lt;!&ndash; Search &ndash;&gt;-->
        <!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
        <!--                    <mat-icon-->
        <!--                        matPrefix-->
        <!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
        <!--                    <input-->
        <!--                        matInput-->
        <!--                        [autocomplete]="'off'"-->
        <!--                        [placeholder]="'Search...'">-->
        <!--                </mat-form-field>-->
        <!--            </div>-->
        <!--        </div>-->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Call Logs</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <form class="flex justify-end" [formGroup]="filterForm" action="">

                    <div class="flex flex-col justify-center pl-8">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                            <!--                            <mat-label>Date</mat-label>-->

                            <input readonly matInput [formControlName]="'date'" [matDatepicker]="dp1"[placeholder]="'Search...'">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <!-- Email -->
                    <!--                <div class="flex flex-col w-1/4 pl-8">-->
                    <!--                    <mat-form-field class="w-full">-->
                    <!--                        <mat-label>Time</mat-label>-->
                    <!--                        <mat-select placeholder="Select Language">-->
                    <!--                            <ng-container>-->
                    <!--                                <mat-option [value]="'hindi'">-->
                    <!--                                    {{'11:00'}}-->
                    <!--                                </mat-option>-->
                    <!--                            </ng-container>-->
                    <!--                            <ng-container>-->
                    <!--                                <mat-option [value]="'English'">-->
                    <!--                                    {{'12:00'}}-->
                    <!--                                </mat-option>-->
                    <!--                            </ng-container>-->
                    <!--                        </mat-select>-->
                    <!--                    </mat-form-field>-->

                    <!--                </div>-->

                    <div class="flex flex-col justify-center pl-8">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                            <input [formControlName]="'search'" matInput [autocomplete]="'off'" [placeholder]="'Search...'">
                            <div *ngIf="isSearchedList" (click)="resetSearch($event)" class="h-full flex justify-center items-center cursor-pointer text-red-700">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </mat-form-field>

                    </div>
                    <div class="flex flex-col pl-8" style="align-items: center;justify-content: center;">
                        <button class="bg-primary-400 transition" mat-flat-button
                                style="color: white; border-radius: 6px;" (click)="handleSearchClick(filterForm)">
                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                            <span class="ml-2 mr-1">Search</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Products list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noCallLOgs">

                    <!-- Table wrapper -->
                    <div
                            class="overflow-x-auto sm:overflow-y-auto"
                            cdkScrollable>

                        <!-- Table -->
                        <table
                                class="w-full sisgain-list-table table-fixed bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}"
                                mat-table
                                [multiTemplateDataRows]="true"
                                [dataSource]="currentItems"
                                [trackBy]="trackByFn">



                            <!-- Price -->
                            <ng-container matColumnDef="p_name">
                                <th
                                        class="text-center w-12 pl-0 border-r font-semibold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                    Patient Name
                                </th>
                                <td
                                        class=" pl-0 capitalize truncate border-r"
                                        mat-cell
                                        *matCellDef="let callLog">
                                    {{callLog.p_name}}
                                </td>
                            </ng-container>

                            <!-- Stock -->
                            <ng-container matColumnDef="d_name">
                                <th
                                        class="text-center w-10  border-r font-semibold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef
                                >
                                    Doctor Name
                                </th>
                                <td
                                        class=" capitalize truncate border-r"
                                        mat-cell
                                        *matCellDef="let callLog">
                                    {{callLog.d_name}}
                                </td>
                            </ng-container>
                            <!-- Name -->
<!--                            <ng-container matColumnDef="symptoms">-->
<!--                                <th-->
<!--                                        class="text-center w-12  border-r font-bold text-1xl truncate"-->
<!--                                        mat-header-cell-->
<!--                                        *matHeaderCellDef>-->
<!--                                    Symptoms-->
<!--                                </th>-->
<!--                                <td-->
<!--                                        class="  truncate border-r tracking-tight"-->
<!--                                        mat-cell-->
<!--                                        *matCellDef="let callLog">-->
<!--                                    {{callLog.symptoms}}-->
<!--                                </td>-->
<!--                            </ng-container>-->
                            <ng-container matColumnDef="duration">
                                <th
                                        class="text-center w-12  border-r font-bold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                    Duration
                                </th>
                                <td
                                        class="  truncate border-r tracking-tight"
                                        mat-cell
                                        *matCellDef="let callLog"><span>
                                        {{getDuration(callLog.patient_connected_at, callLog.patient_disconnected_at)}}
                                    </span>
                                </td>
                            </ng-container>
                            <!-- Stock -->
                            <ng-container matColumnDef="date">
                                <th
                                        class="text-center w-10  border-r font-semibold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef
                                >
                                    Date
                                </th>
                                <td
                                        class="  truncate border-r"
                                        mat-cell
                                        *matCellDef="let callLog">
                                    <span [matTooltip]="callLog.patient_connected_at | date: 'medium'">{{callLog.patient_connected_at | date: 'mediumDate'}}<br><span>{{callLog.patient_connected_at | date: 'shortTime'}}</span></span>
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th
                                        class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                    Action
                                </th>
                                <td
                                        class=" pr-0 "
                                        mat-cell
                                        *matCellDef="let drug">
                                    <div class="flex flex-shrink-0 justify-center items-center">
                                        <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                style="border: none;"
                                                mat-stroked-button
                                                matTooltip="View Call Logs"
                                                (click)="preview(drug)">
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td
                                        class="p-0 border-b-0"
                                        mat-cell
                                        *matCellDef="let drug"
                                        [attr.colspan]="callLogsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === drug.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: drug}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr
                                    class="shadow"
                                    mat-header-row
                                    *matHeaderRowDef="callLogsTableColumns; sticky: true"></tr>
                            <tr
                                    class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                                    mat-row
                                    *matRowDef="let drug; columns: callLogsTableColumns;"></tr>
                            <tr
                                    class="h-0"
                                    mat-row
                                    *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noCallLOgs>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        callLogs!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
