<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                {{pageType && pageType === 'edit' ? 'Update Doctor' : 'Create Doctor'}}</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- All Doctors button -->
                <button class="ml-4" mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;" [routerLink]="'/doctors'">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    <span class="ml-2 mr-1">All Doctors</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <!-- <div class="flex flex-auto overflow-hidden"> -->
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <!-- Doctor Form -->
                <!-- <div class="flex flex-col flex-auto overflow-hidden">
                <div class="flex border-b">

                    <form
                        class="flex flex-col w-full"
                        [formGroup]="doctorForm">

                        <div class="flex px-8 pt-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">

                                    <mat-form-field class="w-full">
                                        <mat-label>First Name</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'full_name'">
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Last Name</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'short_name'">
                                    </mat-form-field>

                                </div>


                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Email</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'email'">
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">

                                    <mat-form-field class="w-full">
                                        <mat-label>Phone</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'phone'">
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Gender</mat-label>
                                        <mat-select [formControlName]="'gender'"
                                                    placeholder="Select Gender">
                                            <ng-container>
                                                <mat-option [value]="'male'">
                                                    {{'Male'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'female'">
                                                    {{'Female'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div>


                                <div class="flex flex-col w-1/3 pl-8">

                                    <mat-form-field class="w-full">
                                        <mat-label>Speciality Type </mat-label>
                                        <mat-select [formControlName]="'speciality'"
                                                    placeholder="Select Speciality Type">
                                            <ng-container>
                                                <mat-option *ngFor="let spe of specialites" [value]="spe.id">
                                                    {{spe.name}}
                                                </mat-option>
                                            </ng-container>

                                        </mat-select>
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>
                        <div class="flex px-8">
                            <div class="flex flex-auto">
                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Language</mat-label>
                                        <mat-select [formControlName]="'language'"
                                                    placeholder="Select Language">
                                            <ng-container>
                                                <mat-option [value]="'hindi'">
                                                    {{'Hindi'}}
                                                </mat-option>
                                            </ng-container>
                                            <ng-container>
                                                <mat-option [value]="'English'">
                                                    {{'English'}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>licence</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'licence'">
                                    </mat-form-field>

                                </div>

                                <div class="flex flex-col w-1/3 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Address</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'address'">
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>

                       <div class="flex items-center justify-between w-full px-8 py-4">
                            <button
                                [disabled]="doctorForm.invalid"
                                *ngIf="pageType ==='new'" (click)="addDoctor($event)"
                                class="ml-8"
                                mat-button
                                style="background-color: #37babb; border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Save</span>
                            </button>

                            <button
                                class="ml-8"
                                mat-button
                                [disabled]="doctorForm.invalid"
                                *ngIf="pageType ==='edit'" (click)="saveDoctor($event)"
                                style="background-color: #37babb; border-radius: 3px; color: white">
                                <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2 mr-1">Update</span>
                            </button>
                        </div>

                    </form>
                </div>

            </div> -->
                <mat-tab-group class="border-b" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onIndexChange($event)" [animationDuration]="'0'">

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" [svgIcon]="'iconsmind:find_user'"></mat-icon>
                            <span>Personal Info</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <form class="flex flex-col w-full" [formGroup]="doctorForm">

                                <div class="flex px-8 pt-8">
                                    <div class="flex flex-auto">
                                        <!-- <div class="flex flex-col w-1/3 pl-8">

                                <mat-form-field class="w-full">
                                    <mat-label>Title</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'title'">
                                </mat-form-field>
                            </div> -->
                                        <div class="flex flex-col w-1/6 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Title <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'title'" placeholder="Select Title">
                                                    <ng-container>
                                                        <mat-option [value]="'Mr'">
                                                            {{'Dr'}}
                                                        </mat-option>
                                                    </ng-container>
                                                    <ng-container>
                                                        <mat-option [value]="'Mrs'">
                                                            {{'Mr'}}
                                                        </mat-option>
                                                    </ng-container>
                                                    <ng-container>
                                                        <mat-option [value]="'Mrs'">
                                                            {{'Mrs'}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form.getCond('title')" [message]="form.getMsg('title').message"></app-input-info>
                                            </mat-form-field>

                                        </div>
                                        <div class="flex flex-col w-1/3 pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>First Name <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'first_name'">
                                                <app-input-info [show]="form.getCond('first_name')" [message]="form.getMsg('first_name').message"></app-input-info>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Middle Name</mat-label>
                                                <input matInput [formControlName]="'middle_name'">
                                            </mat-form-field>

                                        </div>

                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Last Name <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'last_name'">
                                                <app-input-info [show]="form.getCond('last_name')" [message]="form.getMsg('last_name').message"></app-input-info>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                                <div class="flex px-8">
                                    <div class="flex flex-col w-1/4 pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Email <span class="text-red-600">*</span></mat-label>
                                            <input matInput [formControlName]="'email'">
                                            <app-input-info [show]="form.getCond('email')" [message]="form.getMsg('email').message"></app-input-info>
                                        </mat-form-field>

                                    </div>

                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/3 pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>Phone <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'phone'">
                                                <app-input-info [show]="form.getCond('phone')" [message]="form.getMsg('phone').ifPattern('Must only contain digits')"></app-input-info>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Gender <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'gender'" placeholder="Select Gender">
                                                    <ng-container>
                                                        <mat-option [value]="'Male'">
                                                            {{'Male'}}
                                                        </mat-option>
                                                    </ng-container>
                                                    <ng-container>
                                                        <mat-option [value]="'Female'">
                                                            {{'Female'}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form.getCond('gender')" [message]="form.getMsg('gender').message"></app-input-info>
                                            </mat-form-field>

                                        </div>


                                        <div class="flex flex-col w-1/3 pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>Speciality Type <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'speciality'"
                                                            placeholder="Select Speciality Type" (closed)="selectSpecialitiesClosed()" (opened)="selectSpecialitiesOpened()">
                                                    <input #input class="py-2 px-4 text-base w-full" placeholder="Type here to search specialities..." (keyup)="onKey($event)">
                                                    <ng-container *ngIf="specialites.length > 0; else noSpecialities">
                                                        <mat-option *ngFor="let spe of specialites" [value]="spe.id">
                                                            {{spe.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                    <ng-template #noSpecialities>
                                                        <p class="p-3 text-center text-base">No Specialities</p>
                                                    </ng-template>

                                                </mat-select>
                                                <app-input-info [show]="form.getCond('speciality')" [message]="form.getMsg('speciality').message"></app-input-info>
                                            </mat-form-field>

                                        </div>

                                    </div>
                                </div>
                                <div class="flex px-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Language <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'language'"
                                                    placeholder="Select Language">
                                                    <ng-container>
                                                        <mat-option [value]="'hindi'">
                                                            {{'Hindi'}}
                                                        </mat-option>
                                                    </ng-container>
                                                    <ng-container>
                                                        <mat-option [value]="'English'">
                                                            {{'English'}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form.getCond('language')" [message]="form.getMsg('language').message"></app-input-info>
                                            </mat-form-field>

                                        </div>


                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Date Of Birth <span class="text-red-600">*</span></mat-label>

                                                <input [max]="today" matInput [formControlName]="'date_of_birth'"
                                                    [matDatepicker]="date_of_birth">
                                                <mat-datepicker-toggle matSuffix [for]="date_of_birth">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker [startAt]="date_of_birth" #date_of_birth></mat-datepicker>
                                                <app-input-info [show]="form.getCond('date_of_birth')" [message]="form.getMsg('date_of_birth').message"></app-input-info>
                                            </mat-form-field>

                                            <!-- <mat-form-field class="w-full">
                                                <mat-label>Date</mat-label>

                                                <input matInput [matDatepicker]="dp1">
                                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                                <mat-datepicker #dp1></mat-datepicker>
                                            </mat-form-field> -->

                                        </div>
                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Select State <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'state'" placeholder="Select State">
                                                    <ng-container>
                                                        <mat-option *ngFor="let spe of state" [value]="spe.name">
                                                            {{spe.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form.getCond('state')" [message]="form.getMsg('state').message"></app-input-info>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Select City <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'city'" placeholder="Select City">
                                                    <ng-container>
                                                        <mat-option *ngFor="let spe of city" [value]="spe.city">
                                                            {{spe.city}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form.getCond('city')" [message]="form.getMsg('city').message"></app-input-info>
                                            </mat-form-field>

                                        </div>

                                    </div>
                                </div>
                                <div class="flex px-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/6 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Pin <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'zip_code'">
                                                <app-input-info [show]="form.getCond('zip_code')" [message]="form.getMsg('zip_code').ifPattern('Must only contain digits')"></app-input-info>
                                            </mat-form-field>

                                        </div>
                                        <div class="flex flex-col w-1/2 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Address <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'address'">
                                                <app-input-info [show]="form.getCond('address')" [message]="form.getMsg('address').message"></app-input-info>
                                            </mat-form-field>

                                        </div>

                                        <div class="flex flex-col w-1/2 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Bio <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'bio'">
                                                <app-input-info [show]="form.getCond('bio')" [message]="form.getMsg('bio').message"></app-input-info>
                                            </mat-form-field>

                                        </div>

                                    </div>
                                </div>

                                <div class="flex items-center justify-between w-full px-8 py-4">
                                    <button [disabled]="doctorForm.invalid" *ngIf="pageType ==='new'" (click)="next()"
                                        class="ml-8" mat-button [ngStyle]="{ background: theme.primary }"
                                        style="border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Next</span>
                                    </button>

                                    <button class="ml-8" mat-button [disabled]="doctorForm.invalid"
                                        *ngIf="pageType ==='edit'" (click)="next()"
                                        [ngStyle]="{ background: theme.primary }"
                                        style="border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Next</span>
                                    </button>
                                </div>

                            </form>
                        </ng-template>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" [svgIcon]="'policy'"></mat-icon>
                            <span>Educational Details</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <form class="flex flex-col w-full" [formGroup]="educationForm">

                                <div formArrayName="education_details">
                                    <div class="flex px-8 pt-2" *ngFor="let employee of employees().controls; let empIndex=index; let last = last;">
                                        <div class="flex flex-auto" [formGroupName]="empIndex">
                                            <div class="flex flex-col w-1/2 pl-8">

                                                <mat-form-field class="w-full">
                                                    <mat-label>Institution Name</mat-label>
                                                    <input
                                                            matInput
                                                            [formControlName]="'institution_name'">
                                                </mat-form-field>
                                            </div>

                                            <div class="flex flex-col w-1/2 pl-8">
                                                <mat-form-field class="w-full">
                                                    <mat-label>Degree</mat-label>
                                                    <input
                                                            matInput
                                                            [formControlName]="'degree'">
                                                </mat-form-field>

                                            </div>


                                            <div class="flex flex-col w-1/6 pl-4">
                                                <mat-form-field class="w-full">
                                                    <mat-label>Year Completed</mat-label>
                                                    <input
                                                            matInput
                                                            [formControlName]="'year'">
                                                </mat-form-field>

                                            </div>
                                            <div class="flex flex-col w-1/8 pl-4 mt-5">
                                                <!-- <mat-form-field class="w-full"> -->
                                                <!-- <mat-label>Year Completed</mat-label> -->
                                                <!-- <button type="button" class="btn tn-primary" (click)="removeEmployee(empIndex)" style="color: #fff; border-radius: 6px;background-color: red;">Remove</button> -->
                                                <!-- <button type="button" class="btn tn-primary" (click)="addEmployee(empIndex+1)" style="background-color: #075056 ; color: #fff; border-radius: 6px;">Add Drug</button> -->
                                                <!-- </mat-form-field> -->
                                                <span style="color:red" (click)="removeEmployee(i,y)" *ngIf="!last"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                <span style="color:#4a8f35" (click)="addEmployee(i)"><i class="fa fa-plus" aria-hidden="true"></i></span>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="flex px-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/3 pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>Year Of Experience <span class="text-red-600">*</span></mat-label>
                                                <input matInput [formControlName]="'year_of_experience'">
                                                <app-input-info [show]="form1.getCond('year_of_experience')" [message]="form1.getMsg('year_of_experience').ifPattern('Must only contain digits')"></app-input-info>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-col w-1/3 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>State of Issue <span class="text-red-600">*</span></mat-label>
                                                <mat-select [formControlName]="'licence'" placeholder="Select Issue of State">
                                                    <ng-container>
                                                        <mat-option *ngFor="let spe of state" [value]="spe.name">
                                                            {{spe.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <app-input-info [show]="form1.getCond('licence')" [message]="form1.getMsg('licence').message"></app-input-info>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-col w-1/3 pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>Practice Licence National</mat-label>
                                                <input matInput [formControlName]="'national_licence'">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>

                                <div class="flex items-center justify-between w-full px-8 py-4">
                                    <button [disabled]="educationForm.invalid" *ngIf="pageType ==='new'"
                                        (click)="addDoctor($event)" class="ml-8" mat-button
                                        [ngStyle]="{ background: theme.primary }"
                                        style="border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Save</span>
                                    </button>

                                    <button class="ml-8" mat-button [disabled]="educationForm.invalid && doctorForm.invalid"
                                        *ngIf="pageType ==='edit'" (click)="saveDoctor($event)"
                                        [ngStyle]="{ background: theme.primary }"
                                        style="border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Update</span>
                                    </button>
                                </div>

                            </form>

                        </ng-template>
                    </mat-tab>


                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
